In [3]:
#Extracting the data from zip file and storing as a pandas dataframe
from zipfile import ZipFile
import pandas as pd
#import xlsxwriter
import numpy as np

with ZipFile('data.zip', 'r') as my_zip:
    my_zip.extract('data/Canada.xlsx')
x1 = pd.ExcelFile('data/Canada.xlsx')
sheet = x1.sheet_names
#Creating 2 dataframes for the 2 sheets
df1 = pd.read_excel(x1, sheet_name = 'Regions by Citizenship')
df2 = pd.read_excel(x1, sheet_name = 'Canada by Citizenship')

df1.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Department of Economic and Social Affairs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,International Migration Flows to and from Sele...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,POP/DB/MIG/Flow/Rev.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,December 2015 - Copyright Â© 2015 by United Nat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Suggested citation: United Nations, Department...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,International Migration Flows to and from Sel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Reporting country: Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Criterion: Citizenship,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Classification,NaN,Regional aggregates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012.0,2013.0
20,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,...,..,..,..,..,..,..,..,1,1.0,NaN
21,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,8846.0,NaN
22,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,4602.0,NaN
23,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,15453.0,NaN
24,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,1348.0,NaN
25,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,4333,5303,5751,5684,5511,6802,8355,6578,7834.0,NaN
26,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,28192,27523,29188,28284,29890,34534,40892,35441,38083.0,NaN
27,Immigrants,Foreigners,Asia,Central Asia,..,..,..,..,..,..,...,995,1134,903,936,805,962,905,769,1029.0,NaN
28,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,43550,50306,41763,35591,39602,37497,37954,35159,40449.0,NaN
29,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,...,18056,22809,25105,27256,30614,34166,44199,40494,37695.0,NaN

In [4]:
df2.head(10)

,Classification,Unnamed: 1,Origin/Destination,Major area,Unnamed: 4,Region,Unnamed: 6,Development region,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
1,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
2,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
3,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
4,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
5,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
6,Immigrants,Foreigners,Angola,903,Africa,911,Middle Africa,902,Developing regions,1,...,268,295,184,106,76,62,61,39,70,45
7,Immigrants,Foreigners,Antigua and Barbuda,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,14,24,32,15,32,38,27,37,51,25
8,Immigrants,Foreigners,Argentina,904,Latin America and the Caribbean,931,South America,902,Developing regions,368,...,1591,1153,847,620,540,467,459,278,263,282
9,Immigrants,Foreigners,Armenia,935,Asia,922,Western Asia,902,Developing regions,0,...,147,224,218,198,205,267,252,236,258,207

In [5]:
#Q1
#check for how many missing values there are and use a method to solve them
#slicing rows remove the irrelivant NaN info
#df1_sliced = df1.loc[19:]
#df1_sliced
#df1_sliced.isnull().sum().sum()
#df1_new_slice = df1_sliced.drop(['Unnamed: 37'], axis = 1)
'''
Figure out method so solve column 37
'''
df1_sliced = df1.loc[19:]
df1_sliced

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
19,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012.0,2013.0
20,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,...,..,..,..,..,..,..,..,1,1.0,NaN
21,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,8846.0,NaN
22,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,4602.0,NaN
23,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,15453.0,NaN
24,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,1348.0,NaN
25,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,4333,5303,5751,5684,5511,6802,8355,6578,7834.0,NaN
26,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,28192,27523,29188,28284,29890,34534,40892,35441,38083.0,NaN
27,Immigrants,Foreigners,Asia,Central Asia,..,..,..,..,..,..,...,995,1134,903,936,805,962,905,769,1029.0,NaN
28,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,43550,50306,41763,35591,39602,37497,37954,35159,40449.0,NaN
29,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,...,18056,22809,25105,27256,30614,34166,44199,40494,37695.0,NaN
30,Immigrants,Foreigners,Asia,Southern Asia,11315,11566,11591,10157,9607,7654,...,58521,69510,66742,56032,54154,53083,62284,53673,60568.0,NaN
31,Immigrants,Foreigners,Asia,Western Asia,4181,4662,4120,2440,2882,3430,...,13728,15494,14541,13644,14719,15726,18503,16799,12477.0,NaN
32,Immigrants,Foreigners,Asia Total,NaN,31025,34314,30214,24696,27274,23850,...,134850,159253,149054,133459,139894,141434,163845,146894,152218.0,NaN
33,Immigrants,Foreigners,Europe,Eastern Europe,1467,3698,6873,5459,4433,3969,...,18360,16724,14389,13886,11988,11759,11803,9612,9464.0,NaN
34,Immigrants,Foreigners,Europe,Northern Europe,23721,26608,22134,10725,10845,10212,...,8486,8153,7969,9186,10042,9846,9816,7285,7616.0,NaN
35,Immigrants,Foreigners,Europe,Southern Europe,7762,7037,5222,3083,3033,2868,...,3200,2806,2417,2290,2692,2948,2661,2466,2854.0,NaN
36,Immigrants,Foreigners,Europe,Western Europe,6810,7459,8491,5371,3976,3795,...,8036,8272,8278,8133,9970,10525,9145,7415,9243.0,NaN
37,Immigrants,Foreigners,Europe Total,NaN,39760,44802,42720,24638,22287,20844,...,38082,35955,33053,33495,34692,35078,33425,26778,29177.0,NaN
38,Immigrants,Foreigners,Latin America and the Caribbean,Caribbean,7045,8310,8326,6998,5553,6048,...,6630,6816,6652,7826,8862,8847,10549,11958,11898.0,NaN
39,Immigrants,Foreigners,Latin America and the Caribbean,Central America,734,921,1612,3648,4087,4862,...,3346,3990,4140,5039,4891,4814,5692,5821,6019.0,NaN
40,Immigrants,Foreigners,Latin America and the Caribbean,South America,5302,5984,6831,4781,4038,4261,...,12205,13941,13884,13146,12794,13206,12577,10077,9256.0,NaN
41,Immigrants,Foreigners,Latin America and the Caribbean Total,NaN,13081,15215,16769,15427,13678,15171,...,22181,24747,24676,26011,26547,26867,28818,27856,27173.0,NaN
42,Immigrants,Foreigners,Northern America,Northern America,9378,10030,9074,7100,6661,6543,...,6990,8394,9613,9463,10190,8995,8142,7676,7891.0,NaN
43,Immigrants,Foreigners,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,...,1280,1279,1193,1383,1498,1538,1423,1226,1399.0,NaN
44,Immigrants,Foreigners,Oceania,Melanesia,632,707,816,558,391,448,...,497,300,278,304,331,313,401,316,273.0,NaN
45,Immigrants,Foreigners,Oceania,Micronesia,1,..,..,1,..,..,...,1,2,1,3,1,2,..,..,2.0,NaN
46,Immigrants,Foreigners,Oceania,Polynesia,5,13,11,2,6,5,...,10,4,1,3,4,7,10,6,5.0,NaN
47,Immigrants,Foreigners,Oceania Total,NaN,1942,1839,1675,1018,878,920,...,1788,1585,1473,1693,1834,1860,1834,1548,1679.0,NaN
48,Immigrants,Foreigners,Unknown,Unknown,44000,18078,16904,13635,14855,14368,...,3739,4785,4583,4348,4197,3402,3731,2554,1681.0,NaN

In [6]:
#df2.isnull().values.any()
#checking the number of NaN values in the other sheet data
df2.isnull().sum().sum()

0

In [7]:
#df1_new_slice.isnull().sum().sum()
#Replacing .. values with 0
df1_dot_replaced = df1_sliced.replace('..', 0)

In [8]:
#Replacing NaN values in sheet 1 with 0
#df1.fillna(0)
#df1_sliced.isnull().sum().sum()
df1_dot_replaced.isnull().sum()

Unnamed: 0      0
Unnamed: 1      0
Unnamed: 2      0
Unnamed: 3      5
Unnamed: 4      0
Unnamed: 5      0
Unnamed: 6      0
Unnamed: 7      0
Unnamed: 8      0
Unnamed: 9      0
Unnamed: 10     0
Unnamed: 11     0
Unnamed: 12     0
Unnamed: 13     0
Unnamed: 14     0
Unnamed: 15     0
Unnamed: 16     0
Unnamed: 17     0
Unnamed: 18     0
Unnamed: 19     0
Unnamed: 20     0
Unnamed: 21     0
Unnamed: 22     0
Unnamed: 23     0
Unnamed: 24     0
Unnamed: 25     0
Unnamed: 26     0
Unnamed: 27     0
Unnamed: 28     0
Unnamed: 29     0
Unnamed: 30     0
Unnamed: 31     0
Unnamed: 32     0
Unnamed: 33     0
Unnamed: 34     0
Unnamed: 35     0
Unnamed: 36     0
Unnamed: 37    29
dtype: int64

In [9]:
#df['avg'] = df.iloc[:,0:2].mean(axis=1)
'''
df1_nan_sorted = df1_dot_replaced.fillna(df1_dot_replaced.mean(axis=1))
df1_nan_sorted
'''
df1_dot_replaced['Unnamed: 37'] = df1_dot_replaced.iloc[:,4:36].mean(axis = 1)
df1_dot_replaced

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
19,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012.0,1995.50000
20,Immigrants,Citizens,Northern America,Northern America,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.53125
21,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,8846.0,4659.21875
22,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,4602.0,1219.40625
23,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,15453.0,7063.00000
24,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,1348.0,1212.09375
25,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,4333,5303,5751,5684,5511,6802,8355,6578,7834.0,2793.84375
26,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,28192,27523,29188,28284,29890,34534,40892,35441,38083.0,16947.56250
27,Immigrants,Foreigners,Asia,Central Asia,0,0,0,0,0,0,...,995,1134,903,936,805,962,905,769,1029.0,415.75000
28,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,43550,50306,41763,35591,39602,37497,37954,35159,40449.0,23756.65625
29,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,...,18056,22809,25105,27256,30614,34166,44199,40494,37695.0,19258.59375
30,Immigrants,Foreigners,Asia,Southern Asia,11315,11566,11591,10157,9607,7654,...,58521,69510,66742,56032,54154,53083,62284,53673,60568.0,39705.87500
31,Immigrants,Foreigners,Asia,Western Asia,4181,4662,4120,2440,2882,3430,...,13728,15494,14541,13644,14719,15726,18503,16799,12477.0,10941.28125
32,Immigrants,Foreigners,Asia Total,NaN,31025,34314,30214,24696,27274,23850,...,134850,159253,149054,133459,139894,141434,163845,146894,152218.0,94078.15625
33,Immigrants,Foreigners,Europe,Eastern Europe,1467,3698,6873,5459,4433,3969,...,18360,16724,14389,13886,11988,11759,11803,9612,9464.0,12554.62500
34,Immigrants,Foreigners,Europe,Northern Europe,23721,26608,22134,10725,10845,10212,...,8486,8153,7969,9186,10042,9846,9816,7285,7616.0,17946.71875
35,Immigrants,Foreigners,Europe,Southern Europe,7762,7037,5222,3083,3033,2868,...,3200,2806,2417,2290,2692,2948,2661,2466,2854.0,5081.12500
36,Immigrants,Foreigners,Europe,Western Europe,6810,7459,8491,5371,3976,3795,...,8036,8272,8278,8133,9970,10525,9145,7415,9243.0,6701.25000
37,Immigrants,Foreigners,Europe Total,NaN,39760,44802,42720,24638,22287,20844,...,38082,35955,33053,33495,34692,35078,33425,26778,29177.0,42283.71875
38,Immigrants,Foreigners,Latin America and the Caribbean,Caribbean,7045,8310,8326,6998,5553,6048,...,6630,6816,6652,7826,8862,8847,10549,11958,11898.0,8936.31250
39,Immigrants,Foreigners,Latin America and the Caribbean,Central America,734,921,1612,3648,4087,4862,...,3346,3990,4140,5039,4891,4814,5692,5821,6019.0,4687.18750
40,Immigrants,Foreigners,Latin America and the Caribbean,South America,5302,5984,6831,4781,4038,4261,...,12205,13941,13884,13146,12794,13206,12577,10077,9256.0,8658.53125
41,Immigrants,Foreigners,Latin America and the Caribbean Total,NaN,13081,15215,16769,15427,13678,15171,...,22181,24747,24676,26011,26547,26867,28818,27856,27173.0,22282.03125
42,Immigrants,Foreigners,Northern America,Northern America,9378,10030,9074,7100,6661,6543,...,6990,8394,9613,9463,10190,8995,8142,7676,7891.0,7022.81250
43,Immigrants,Foreigners,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,...,1280,1279,1193,1383,1498,1538,1423,1226,1399.0,977.50000
44,Immigrants,Foreigners,Oceania,Melanesia,632,707,816,558,391,448,...,497,300,278,304,331,313,401,316,273.0,630.71875
45,Immigrants,Foreigners,Oceania,Micronesia,1,0,0,1,0,0,...,1,2,1,3,1,2,0,0,2.0,1.03125
46,Immigrants,Foreigners,Oceania,Polynesia,5,13,11,2,6,5,...,10,4,1,3,4,7,10,6,5.0,7.00000
47,Immigrants,Foreigners,Oceania Total,NaN,1942,1839,1675,1018,878,920,...,1788,1585,1473,1693,1834,1860,1834,1548,1679.0,1616.25000
48,Immigrants,Foreigners,Unknown,Unknown,44000,18078,16904,13635,14855,14368,...,3739,4785,4583,4348,4197,3402,3731,2554,1681.0,15996.68750

In [10]:
#df1_dot_replaced.round(0)
pd.options.display.float_format = '{:,.0f}'.format

df1_dot_replaced.iloc[0, df1_dot_replaced.columns.get_loc('Unnamed: 37')] = 2013
df1_dot_replaced.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
19,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,"2,012","2,013"
20,Immigrants,Citizens,Northern America,Northern America,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
21,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,"8,846","4,659"
22,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,"4,602","1,219"
23,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,"15,453","7,063"
24,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,"1,348","1,212"
25,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,4333,5303,5751,5684,5511,6802,8355,6578,"7,834","2,794"
26,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,28192,27523,29188,28284,29890,34534,40892,35441,"38,083","16,948"
27,Immigrants,Foreigners,Asia,Central Asia,0,0,0,0,0,0,...,995,1134,903,936,805,962,905,769,"1,029",416
28,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,43550,50306,41763,35591,39602,37497,37954,35159,"40,449","23,757"

In [11]:
#Q2
df2["total_before 2000"] = df2.iloc[:,9:28].sum(axis = 1)
df2["total_after 2000"] = df2.iloc[:,28: 42].sum(axis = 1)
df2.iat[0,43] = 0
df2.iat[0,44] = 0
df2.head(10)

/Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

,Classification,Unnamed: 1,Origin/Destination,Major area,Unnamed: 4,Region,Unnamed: 6,Development region,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,total_before 2000,total_after 2000
0,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2006,2007,2008,2009,2010,2011,2012,2013,0,0
1,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,3009,2652,2111,1746,1758,2203,2635,2004,2546,39492
2,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,856,702,560,716,561,539,620,603,6,13783
3,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,4807,3623,4005,5393,4752,4325,3774,4331,774,53073
4,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,1,0,0,0,0,0,0,0,2,1
5,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,1,1,0,0,0,0,1,1,2,6
6,Immigrants,Foreigners,Angola,903,Africa,911,Middle Africa,902,Developing regions,1,...,184,106,76,62,61,39,70,45,40,1782
7,Immigrants,Foreigners,Antigua and Barbuda,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,...,32,15,32,38,27,37,51,25,198,362
8,Immigrants,Foreigners,Argentina,904,Latin America and the Caribbean,931,South America,902,Developing regions,368,...,847,620,540,467,459,278,263,282,2963,10208
9,Immigrants,Foreigners,Armenia,935,Asia,922,Western Asia,902,Developing regions,0,...,218,198,205,267,252,236,258,207,0,2613

In [12]:
df1_dot_replaced["total_before 2000"] = df1_dot_replaced.iloc[:,4:24].sum(axis = 1)
df1_dot_replaced["total_after 2000"] = df1_dot_replaced.iloc[:,24: 37].sum(axis = 1)
df1_dot_replaced.iat[0,38] = 0
df1_dot_replaced.iat[0,39] = 0
df1_dot_replaced.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,total_before 2000,total_after 2000
19,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2006,2007,2008,2009,2010,2011,"2,012","2,013",0,0
20,Immigrants,Citizens,Northern America,Northern America,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,16,2
21,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,6750,6669,6705,6922,8591,8956,"8,846","4,659","70,143","87,798"
22,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2834,2951,3034,3255,3369,3146,"4,602","1,219","7,851","35,772"
23,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12705,11750,13456,16320,19271,15712,"15,453","7,063","68,734","172,735"
24,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1148,1230,1184,1235,1306,1049,"1,348","1,212","22,957","17,178"
25,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,5751,5684,5511,6802,8355,6578,"7,834","2,794","27,979","69,258"
26,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,29188,28284,29890,34534,40892,35441,"38,083","16,948","197,664","382,741"
27,Immigrants,Foreigners,Asia,Central Asia,0,0,0,0,0,0,...,903,936,805,962,905,769,"1,029",416,"3,017","11,316"
28,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,41763,35591,39602,37497,37954,35159,"40,449","23,757","261,092","539,570"

In [13]:
#Q3

import seaborn as sns
import numpy as np
import matplotlib as plt
import timeit

get_years_row = df2.loc[df2['Origin/Destination'] == "OdName"]
get_canada_row = df2.loc[df2['Origin/Destination'] == "Canada"]
get_china_row = df2.loc[df2['Origin/Destination'] == "China"]
get_india_row = df2.loc[df2['Origin/Destination'] == "India"]
get_japan_row = df2.loc[df2['Origin/Destination'] == "Japan"]

frames = [get_years_row, get_canada_row, get_china_row, get_india_row, get_japan_row]
combined_frames_q2 = pd.concat(frames)

combined_frames_q2.drop(combined_frames_q2.iloc[:, 0:2], inplace = True, axis = 1)
combined_frames_q2.drop(combined_frames_q2.iloc[:, 1:7], inplace = True, axis = 1)
final_combined_frames = combined_frames_q2.drop(['total_before 2000', 'total_after 2000'], axis = 1)

new_table_transposed = final_combined_frames.T
renamed_new_columns = new_table_transposed.rename(columns = {
    0: 'Years',
    33: 'Canada',
    37:'China',
    80:'India',
    88:'Japan'
    })

renamed_new_columns.head(5)
table_head_dropped = renamed_new_columns.drop(renamed_new_columns.index[0])
table_head_dropped

#sns.relplot(x = 'Years', y = ['Canada', 'China', 'India', 'Japan'], data = table_head_dropped)

            Years Canada  China  India Japan
Unnamed: 9   1980      0   5123   8880   701
Unnamed: 10  1981      0   6682   8670   756
Unnamed: 11  1982      0   3308   8147   598
Unnamed: 12  1983      0   1863   7338   309
Unnamed: 13  1984      0   1527   5704   246
Unnamed: 14  1985      0   1816   4211   198
Unnamed: 15  1986      0   1960   7150   248
Unnamed: 16  1987      0   2643  10189   422
Unnamed: 17  1988      0   2758  11522   324
Unnamed: 18  1989      0   4323  10343   494
Unnamed: 19  1990      3   8076  12041   379
Unnamed: 20  1991      3  14255  13734   506
Unnamed: 21  1992      4  10846  13673   605
Unnamed: 22  1993      3   9817  21496   907
Unnamed: 23  1994      1  13128  18620   956
Unnamed: 24  1995      1  14398  18489   826
Unnamed: 25  1996      1  19415  23859   994
Unnamed: 26  1997      0  20475  22268   924
Unnamed: 27  1998      0  21049  17241   897
Unnamed: 28  1999      0  30069  18974  1083
Unnamed: 29  2000      0  35529  28572  1010
Unnamed: 30  2001      0  36434  31223  1092
Unnamed: 31  2002      0  31961  31889   806
Unnamed: 32  2003      0  36439  27155   817
Unnamed: 33  2004      0  36619  28235   973
Unnamed: 34  2005      0  42584  36210  1067
Unnamed: 35  2006      0  33518  33848  1212
Unnamed: 36  2007      0  27642  28742  1250
Unnamed: 37  2008      0  30037  28261  1284
Unnamed: 38  2009      0  29622  29456  1194
Unnamed: 39  2010      0  30391  34235  1168
Unnamed: 40  2011      1  28502  27509  1265
Unnamed: 41  2012      1  33024  30933  1214
Unnamed: 42  2013      2  34129  33087   982

In [ ]:
#y = ['Canada', 'China', 'India', 'Japan']
#y should be number of immigrants

sns.set(style = "ticks")
sns.relplot(x = 'Years', 
            y = ['Canada', 'China', 'India', 'Japan'],
            kind = 'line', 
            data = table_head_dropped)