    {
     "cells": [
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "# Pandas Exploratory Data Analysis\n",
        "##  Importing Libraries"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 27,
       "metadata": {},
       "outputs": [],
       "source": [
        "# Importing Libraries\n",
        "import pandas as pd \n",
        "import numpy as np"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Importing Dataset"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 28,
       "metadata": {},
       "outputs": [
        {
         "data": {
          "text/html": [
           "<div>\n",
           "<style scoped>\n",
           "    .dataframe tbody tr th:only-of-type {\n",
           "        vertical-align: middle;\n",
           "    }\n",
           "\n",
           "    .dataframe tbody tr th {\n",
           "        vertical-align: top;\n",
           "    }\n",
           "\n",
           "    .dataframe thead th {\n",
           "        text-align: right;\n",
           "    }\n",
           "</style>\n",
           "<table border=\"1\" class=\"dataframe\">\n",
           "  <thead>\n",
           "    <tr style=\"text-align: right;\">\n",
           "      <th></th>\n",
           "      <th>Rank</th>\n",
           "      <th>Company</th>\n",
           "      <th>Sector</th>\n",
           "      <th>Industry</th>\n",
           "      <th>Location</th>\n",
           "      <th>Revenue</th>\n",
           "      <th>Profits</th>\n",
           "      <th>Employees</th>\n",
           "    </tr>\n",
           "  </thead>\n",
           "  <tbody>\n",
           "    <tr>\n",
           "      <th>0</th>\n",
           "      <td>1</td>\n",
           "      <td>Walmart</td>\n",
           "      <td>Retailing</td>\n",
           "      <td>General Merchandisers</td>\n",
           "      <td>Bentonville, AR</td>\n",
           "      <td>482130</td>\n",
           "      <td>14694</td>\n",
           "      <td>2300000</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>1</th>\n",
           "      <td>2</td>\n",
           "      <td>Exxon Mobil</td>\n",
           "      <td>Energy</td>\n",
           "      <td>Petroleum Refining</td>\n",
           "      <td>Irving, TX</td>\n",
           "      <td>246204</td>\n",
           "      <td>16150</td>\n",
           "      <td>75600</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>2</th>\n",
           "      <td>3</td>\n",
           "      <td>Apple</td>\n",
           "      <td>Technology</td>\n",
           "      <td>Computers, Office Equipment</td>\n",
           "      <td>Cupertino, CA</td>\n",
           "      <td>233715</td>\n",
           "      <td>53394</td>\n",
           "      <td>110000</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>3</th>\n",
           "      <td>4</td>\n",
           "      <td>Berkshire Hathaway</td>\n",
           "      <td>Financials</td>\n",
           "      <td>Insurance: Property and Casualty (Stock)</td>\n",
           "      <td>Omaha, NE</td>\n",
           "      <td>210821</td>\n",
           "      <td>24083</td>\n",
           "      <td>331000</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>4</th>\n",
           "      <td>5</td>\n",
           "      <td>McKesson</td>\n",
           "      <td>Health Care</td>\n",
           "      <td>Wholesalers: Health Care</td>\n",
           "      <td>San Francisco, CA</td>\n",
           "      <td>181241</td>\n",
           "      <td>1476</td>\n",
           "      <td>70400</td>\n",
           "    </tr>\n",
           "  </tbody>\n",
           "</table>\n",
           "</div>"
          ],
          "text/plain": [
           "   Rank             Company       Sector  \\\n",
           "0     1             Walmart    Retailing   \n",
           "1     2         Exxon Mobil       Energy   \n",
           "2     3               Apple   Technology   \n",
           "3     4  Berkshire Hathaway   Financials   \n",
           "4     5            McKesson  Health Care   \n",
           "\n",
           "                                   Industry           Location  Revenue  \\\n",
           "0                     General Merchandisers    Bentonville, AR   482130   \n",
           "1                        Petroleum Refining         Irving, TX   246204   \n",
           "2               Computers, Office Equipment      Cupertino, CA   233715   \n",
           "3  Insurance: Property and Casualty (Stock)          Omaha, NE   210821   \n",
           "4                  Wholesalers: Health Care  San Francisco, CA   181241   \n",
           "\n",
           "   Profits  Employees  \n",
           "0    14694    2300000  \n",
           "1    16150      75600  \n",
           "2    53394     110000  \n",
           "3    24083     331000  \n",
           "4     1476      70400  "
          ]
         },
         "execution_count": 28,
         "metadata": {},
         "output_type": "execute_result"
        }
       ],
       "source": [
        "df = pd.read_csv(\"fortune1000.csv\")\n",
        "df.head()"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Information regarding the dataset. Datatypes and number of null values in each column."
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 29,
       "metadata": {},
       "outputs": [
        {
         "name": "stdout",
         "output_type": "stream",
         "text": [
          "<class 'pandas.core.frame.DataFrame'>\n",
          "RangeIndex: 1000 entries, 0 to 999\n",
          "Data columns (total 8 columns):\n",
          " #   Column     Non-Null Count  Dtype \n",
          "---  ------     --------------  ----- \n",
          " 0   Rank       1000 non-null   int64 \n",
          " 1   Company    1000 non-null   object\n",
          " 2   Sector     1000 non-null   object\n",
          " 3   Industry   1000 non-null   object\n",
          " 4   Location   1000 non-null   object\n",
          " 5   Revenue    1000 non-null   int64 \n",
          " 6   Profits    1000 non-null   int64 \n",
          " 7   Employees  1000 non-null   int64 \n",
          "dtypes: int64(4), object(4)\n",
          "memory usage: 62.6+ KB\n"
         ]
        }
       ],
       "source": [
        "df.info()"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Statistical Analysis of Dataset"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 30,
       "metadata": {},
       "outputs": [
        {
         "data": {
          "text/html": [
           "<div>\n",
           "<style scoped>\n",
           "    .dataframe tbody tr th:only-of-type {\n",
           "        vertical-align: middle;\n",
           "    }\n",
           "\n",
           "    .dataframe tbody tr th {\n",
           "        vertical-align: top;\n",
           "    }\n",
           "\n",
           "    .dataframe thead th {\n",
           "        text-align: right;\n",
           "    }\n",
           "</style>\n",
           "<table border=\"1\" class=\"dataframe\">\n",
           "  <thead>\n",
           "    <tr style=\"text-align: right;\">\n",
           "      <th></th>\n",
           "      <th>Rank</th>\n",
           "      <th>Revenue</th>\n",
           "      <th>Profits</th>\n",
           "      <th>Employees</th>\n",
           "    </tr>\n",
           "  </thead>\n",
           "  <tbody>\n",
           "    <tr>\n",
           "      <th>count</th>\n",
           "      <td>1000.00000</td>\n",
           "      <td>1000.000000</td>\n",
           "      <td>1000.000000</td>\n",
           "      <td>1.000000e+03</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>mean</th>\n",
           "      <td>500.49600</td>\n",
           "      <td>13535.525000</td>\n",
           "      <td>894.093000</td>\n",
           "      <td>3.302800e+04</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>std</th>\n",
           "      <td>288.81727</td>\n",
           "      <td>28820.519135</td>\n",
           "      <td>3297.063594</td>\n",
           "      <td>9.042769e+04</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>min</th>\n",
           "      <td>1.00000</td>\n",
           "      <td>1895.000000</td>\n",
           "      <td>-23119.000000</td>\n",
           "      <td>5.200000e+01</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>25%</th>\n",
           "      <td>250.75000</td>\n",
           "      <td>2898.250000</td>\n",
           "      <td>82.750000</td>\n",
           "      <td>6.405250e+03</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>50%</th>\n",
           "      <td>500.50000</td>\n",
           "      <td>5113.000000</td>\n",
           "      <td>282.500000</td>\n",
           "      <td>1.251950e+04</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>75%</th>\n",
           "      <td>750.25000</td>\n",
           "      <td>11386.000000</td>\n",
           "      <td>784.500000</td>\n",
           "      <td>2.812500e+04</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>max</th>\n",
           "      <td>1000.00000</td>\n",
           "      <td>482130.000000</td>\n",
           "      <td>53394.000000</td>\n",
           "      <td>2.300000e+06</td>\n",
           "    </tr>\n",
           "  </tbody>\n",
           "</table>\n",
           "</div>"
          ],
          "text/plain": [
           "             Rank        Revenue       Profits     Employees\n",
           "count  1000.00000    1000.000000   1000.000000  1.000000e+03\n",
           "mean    500.49600   13535.525000    894.093000  3.302800e+04\n",
           "std     288.81727   28820.519135   3297.063594  9.042769e+04\n",
           "min       1.00000    1895.000000 -23119.000000  5.200000e+01\n",
           "25%     250.75000    2898.250000     82.750000  6.405250e+03\n",
           "50%     500.50000    5113.000000    282.500000  1.251950e+04\n",
           "75%     750.25000   11386.000000    784.500000  2.812500e+04\n",
           "max    1000.00000  482130.000000  53394.000000  2.300000e+06"
          ]
         },
         "execution_count": 30,
         "metadata": {},
         "output_type": "execute_result"
        }
       ],
       "source": [
        "df.describe()"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Setting Rank as Index"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 31,
       "metadata": {},
       "outputs": [],
       "source": [
        "# Setting Rank as Index\n",
        "df.set_index(\"Rank\", inplace = True)"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Getting maximum Profits in the dataset"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 32,
       "metadata": {},
       "outputs": [
        {
         "data": {
          "text/plain": [
           "Rank\n",
           "3     53394\n",
           "23    24442\n",
           "4     24083\n",
           "27    22894\n",
           "86    18108\n",
           "Name: Profits, dtype: int64"
          ]
         },
         "execution_count": 32,
         "metadata": {},
         "output_type": "execute_result"
        }
       ],
       "source": [
        "df[\"Profits\"].nlargest()"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Counting number of companies in each industry"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 33,
       "metadata": {},
       "outputs": [
        {
         "data": {
          "text/plain": [
           "Specialty Retailers: Other                  42\n",
           "Utilities: Gas and Electric                 41\n",
           "Chemicals                                   30\n",
           "Commercial Banks                            28\n",
           "Insurance: Property and Casualty (Stock)    28\n",
           "                                            ..\n",
           "Temporary Help                               5\n",
           "Computer Peripherals                         4\n",
           "Education                                    3\n",
           "Mail, Package, and Freight Delivery          2\n",
           "Advertising, marketing                       2\n",
           "Name: Industry, Length: 73, dtype: int64"
          ]
         },
         "execution_count": 33,
         "metadata": {},
         "output_type": "execute_result"
        }
       ],
       "source": [
        "df[\"Industry\"].value_counts()"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Getting Number of Companies in each Sector"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 34,
       "metadata": {},
       "outputs": [
        {
         "data": {
          "text/plain": [
           "<AxesSubplot:>"
          ]
         },
         "execution_count": 34,
         "metadata": {},
         "output_type": "execute_result"
        },
        {
         "data": {
          "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXcAAAF8CAYAAAA0B/s9AAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjUuMCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8/fFQqAAAACXBIWXMAAAsTAAALEwEAmpwYAABP3UlEQVR4nO2debhkVXW+3w+aWRpFWkQGGxElSMShVUSjEsE4IOIIBJAASlAioHFA/SWIRiVOUTEOIJNGQRQHcAARQQQFbGhmHAEBQUERaQVl+n5/rF1961bXvXWGuvdWF+t9nnpunVO1z9lV99Q6e6+91rdkmyRJkmS8WGmuO5AkSZIMnzTuSZIkY0ga9yRJkjEkjXuSJMkYksY9SZJkDEnjniRJMobMm+sOAKy33npeuHDhXHcjSZJkheKiiy76ve0F/V4bCeO+cOFCFi9ePNfdSJIkWaGQ9OupXku3TJIkyRiSxj1JkmQMSeOeJEkyhgw07pKOkXSLpCv6vPZmSZa0Xte+t0v6paSfSfqnYXc4SZIkGUyVkftxwPN7d0raGNgBuL5r35bArsDjSptPSlp5KD1NkiRJKjPQuNs+B7itz0v/A7wV6JaVfAlwou2/2b4W+CXw1GF0NEmSJKlOI5+7pJ2A39i+tOelDYEburZvLPv6HWM/SYslLb711lubdCNJkiSZgtrGXdKawDuB/+z3cp99fQXjbR9pe5HtRQsW9I3BT5IkSRrSJIlpM2BT4FJJABsBF0t6KjFS37jrvRsBN9U9wcJDvjXt69cd/qK6h0ySJHlAUXvkbvty2w+zvdD2QsKgP8n2b4FTgF0lrSZpU2Bz4MKh9jhJkiQZSJVQyBOAHwOPlXSjpH2neq/tK4GTgKuA04ADbN83rM4mSZIk1RjolrG924DXF/Zsvxd4b7tuJUmSJG3IDNUkSZIxJI17kiTJGJLGPUmSZAxJ454kSTKGpHFPkiQZQ9K4J0mSjCFp3JMkScaQNO5JkiRjSBr3JEmSMSSNe5IkyRiSxj1JkmQMSeOeJEkyhqRxT5IkGUPSuCdJkowhadyTJEnGkDTuSZIkY0ga9yRJkjEkjXuSJMkYksY9SZJkDEnjniRJMoakcU+SJBlD5g16g6RjgB2BW2xvVfZ9EHgxcDfwK2Bv27eX194O7AvcBxxo+/SZ6frULDzkW9O+ft3hL5qlniRJkswNVUbuxwHP79l3BrCV7ccDPwfeDiBpS2BX4HGlzSclrTy03iZJkiSVGGjcbZ8D3Naz77u27y2b5wMblecvAU60/Tfb1wK/BJ46xP4mSZIkFRiGz30f4Dvl+YbADV2v3Vj2LYek/SQtlrT41ltvHUI3kiRJkg6tjLukdwL3Al/o7OrzNvdra/tI24tsL1qwYEGbbiRJkiQ9DFxQnQpJexELrc+13THgNwIbd71tI+Cm5t1LkiRJmtBo5C7p+cDbgJ1s39n10inArpJWk7QpsDlwYftuJkmSJHWoEgp5AvAcYD1JNwKHEtExqwFnSAI43/b+tq+UdBJwFeGuOcD2fTPV+SRJkqQ/A4277d367D56mve/F3hvm04lSZIk7cgM1SRJkjEkjXuSJMkYksY9SZJkDEnjniRJMoakcU+SJBlD0rgnSZKMIWnckyRJxpA07kmSJGNIGvckSZIxJI17kiTJGJLGPUmSZAxJ454kSTKGpHFPkiQZQ9K4J0mSjCFp3JMkScaQNO5JkiRjSBr3JEmSMSSNe5IkyRiSxj1JkmQMSeOeJEkyhqRxT5IkGUPmDXqDpGOAHYFbbG9V9q0LfAlYCFwHvMr2H8trbwf2Be4DDrR9+oz0fAZZeMi3pn39usNfNEs9SZIkaUaVkftxwPN79h0CnGl7c+DMso2kLYFdgceVNp+UtPLQepskSZJUYqBxt30OcFvP7pcAx5fnxwM7d+0/0fbfbF8L/BJ46nC6miRJklSlqc99fds3A5S/Dyv7NwRu6HrfjWXfckjaT9JiSYtvvfXWht1IkiRJ+jHsBVX12ed+b7R9pO1FthctWLBgyN1IkiR5YNPUuP9O0gYA5e8tZf+NwMZd79sIuKl595IkSZImNDXupwB7led7Ad/o2r+rpNUkbQpsDlzYrotJkiRJXaqEQp4APAdYT9KNwKHA4cBJkvYFrgdeCWD7SkknAVcB9wIH2L5vhvqeJEmSTMFA4257tyleeu4U738v8N42nUqSJEnakRmqSZIkY0ga9yRJkjEkjXuSJMkYksY9SZJkDEnjniRJMoakcU+SJBlD0rgnSZKMIWnckyRJxpA07kmSJGNIGvckSZIxJI17kiTJGJLGPUmSZAxJ454kSTKGpHFPkiQZQ9K4J0mSjCFp3JMkScaQNO5JkiRjSBr3JEmSMSSNe5IkyRiSxj1JkmQMaWXcJb1R0pWSrpB0gqTVJa0r6QxJvyh/HzKsziZJkiTVaGzcJW0IHAgssr0VsDKwK3AIcKbtzYEzy3aSJEkyi7R1y8wD1pA0D1gTuAl4CXB8ef14YOeW50iSJElq0ti42/4N8CHgeuBm4E+2vwusb/vm8p6bgYcNo6NJkiRJdeY1bVh86S8BNgVuB74saY8a7fcD9gPYZJNNmnZjJFl4yLemff26w180Sz1JkuSBShu3zPbAtbZvtX0P8FVgW+B3kjYAKH9v6dfY9pG2F9letGDBghbdSJIkSXppY9yvB7aRtKYkAc8FrgZOAfYq79kL+Ea7LiZJkiR1aeyWsX2BpK8AFwP3AkuAI4EHASdJ2pe4AbxyGB1NkiRJqtPYuAPYPhQ4tGf334hRfJIkSTJHZIZqkiTJGJLGPUmSZAxp5ZZJZoYMpUySpC05ck+SJBlD0rgnSZKMIWnckyRJxpA07kmSJGNIGvckSZIxJI17kiTJGJLGPUmSZAxJ454kSTKGpHFPkiQZQ9K4J0mSjCFp3JMkScaQNO5JkiRjSBr3JEmSMSSNe5IkyRiSxj1JkmQMSeOeJEkyhqRxT5IkGUPSuCdJkowhrYy7pAdL+oqkn0q6WtLTJa0r6QxJvyh/HzKsziZJkiTVaDty/xhwmu0tgK2Bq4FDgDNtbw6cWbaTJEmSWaSxcZc0H3gWcDSA7btt3w68BDi+vO14YOd2XUySJEnq0mbk/ijgVuBYSUskfVbSWsD6tm8GKH8fNoR+JkmSJDVoY9znAU8CPmX7icBfqOGCkbSfpMWSFt96660tupEkSZL00sa43wjcaPuCsv0Vwtj/TtIGAOXvLf0a2z7S9iLbixYsWNCiG0mSJEkvjY277d8CN0h6bNn1XOAq4BRgr7JvL+AbrXqYJEmS1GZey/ZvAL4gaVXgGmBv4oZxkqR9geuBV7Y8R5IkSVKTVsbd9iXAoj4vPbfNcZMkSZJ2ZIZqkiTJGJLGPUmSZAxJ454kSTKGpHFPkiQZQ9K4J0mSjCFp3JMkScaQNO5JkiRjSBr3JEmSMaRthmoygiw85FvTvn7d4S+apZ4kSTJX5Mg9SZJkDEnjniRJMoakcU+SJBlD0rgnSZKMIWnckyRJxpA07kmSJGNIGvckSZIxJOPck+XIOPkkWfHJkXuSJMkYksY9SZJkDEnjniRJMoakzz0ZOm199unzT5L2tB65S1pZ0hJJ3yzb60o6Q9Ivyt+HtO9mkiRJUodhuGUOAq7u2j4EONP25sCZZTtJkiSZRVoZd0kbAS8CPtu1+yXA8eX58cDObc6RJEmS1Ketz/2jwFuBtbv2rW/7ZgDbN0t6WL+GkvYD9gPYZJNNWnYjSSZIn32StBi5S9oRuMX2RU3a2z7S9iLbixYsWNC0G0mSJEkf2ozcnwHsJOmFwOrAfEn/B/xO0gZl1L4BcMswOpokSZJUp/HI3fbbbW9keyGwK/B923sApwB7lbftBXyjdS+TJEmSWsxEEtPhwA6SfgHsULaTJEmSWWQoSUy2zwbOLs//ADx3GMdNkiRJmpEZqknSQ0bbJONAasskSZKMIWnckyRJxpA07kmSJGNIGvckSZIxJI17kiTJGJLGPUmSZAxJ454kSTKGpHFPkiQZQzKJKUmGTCZBJaNAjtyTJEnGkDTuSZIkY0i6ZZJkxEi3TjIMcuSeJEkyhqRxT5IkGUPSLZMkY0a6dRLIkXuSJMlYkiP3JEkmMd3If9CoP2cNo0Ma9yRJRoa8OQyPdMskSZKMIWnckyRJxpDGxl3SxpLOknS1pCslHVT2ryvpDEm/KH8fMrzuJkmSJFVoM3K/F/h3238HbAMcIGlL4BDgTNubA2eW7SRJkmQWaWzcbd9s++LyfClwNbAh8BLg+PK244GdW/YxSZIkqclQomUkLQSeCFwArG/7ZogbgKSHTdFmP2A/gE022WQY3UiS5AFORttM0HpBVdKDgJOBg23fUbWd7SNtL7K9aMGCBW27kSRJknTRyrhLWoUw7F+w/dWy+3eSNiivbwDc0q6LSZIkSV3aRMsIOBq42vZHul46BdirPN8L+Ebz7iVJkiRNaONzfwawJ3C5pEvKvncAhwMnSdoXuB54ZaseJkmSJLVpbNxtnwtoipef2/S4SZIkSXsyQzVJkmQMSeOeJEkyhqQqZJIkSaFtnPxct+8mR+5JkiRjSBr3JEmSMSSNe5IkyRiSxj1JkmQMSeOeJEkyhqRxT5IkGUPSuCdJkowhadyTJEnGkDTuSZIkY0ga9yRJkjEkjXuSJMkYksY9SZJkDEnjniRJMoakcU+SJBlD0rgnSZKMIWnckyRJxpA07kmSJGNIGvckSZIxZMaMu6TnS/qZpF9KOmSmzpMkSZIsz4wYd0krA/8LvADYEthN0pYzca4kSZJkeWZq5P5U4Je2r7F9N3Ai8JIZOleSJEnSg2wP/6DSK4Dn235N2d4TeJrtf+t6z37AfmXzscDPpjnkesDvW3Qp22f7bL/inTvbD27/SNsL+r0wr8VJp0N99k26i9g+Ejiy0sGkxbYXNe5Mts/22b5R+xW57w/09jPllrkR2LhreyPgphk6V5IkSdLDTBn3nwCbS9pU0qrArsApM3SuJEmSpIcZccvYvlfSvwGnAysDx9i+ssUhK7lvsn22z/ZDb78i9/0B3X5GFlSTJEmSuSUzVJMkScaQNO5JkiRjSBr3PkjaUdJYfDeSVpI0f677URdJq0raqjxWmev+JNWRtIakx851P9oi6SGSHj/X/WjKWBiwGWBX4BeSPiDp7+aiA5KeKWnv8nyBpE1rtP2ipPmS1gKuAn4m6S0z1ddhI+k5wC8ICYtPAj+X9Ky57FNTmtxcJT2j/O+QtIekj0h65Mz0cLhIejFwCXBa2X6CpMqRcpI2k7Raef4cSQdKenCN9o+RdKakK8r24yX9vxrtzy6/nXWBS4FjJX2kavu2tP38k7A9kg/gIGA+kRB1NHAx8Lwa7T8EPK7F+ecD/wqcD/yYyKZde5Y++6HAqcDPy/YjgPNqtL+k/N0d+AiwCnDZLH//mwGrlefPAQ4EHlyx7UXAY7u2HwNcNBvnLm1eRtxc/gTcASwF7qjR/ovlu1sL+ClwM/CWGu0vK9/71uX5QcAPZqv/5RgPIWREntV51PjfrQMs6f48da5dIorv0cCvgP8Bvl2j/Q9Kv7vPf0WN9kvK39cAh1XtP/Cm6R6z9fm7H6M8ct/H9h3A84AFwN7A4TXa/xQ4UtIFkvaXtE6dk5dzn0zo4mwAvBS4WNIbqrSXtFTSHT2PGyR9TdKjBjR/KbAT8JfSl5uAtWt0f5XiytgZ+Ibte+jJEK5A2+//ZOA+SY8mbg6bEkavCqvYXiZHYfvnxA1qNs4N8AFgJ9vr2J5ve23bdUbfW5bvbmfg28AmwJ412t/r+KW/BPiY7Y9R7//fqv+SXgOcQ4QyH1b+vqtG3/9Uo6+93G/7XuI38FHbbyR+f1VZ0/aFvX2q0X6epA2AVwHfrNFu7QGPqrT9/MuYKfmBYdCRMHghcKztSyX1kzXoi+3PAp8tvr+9gcsknQccZfusaU8cU8t9iBHg54Gn2r5F0prA1cARFbrwESIr94vls+wKPJzQ0DmGGFFOxd22LcmlP2tVOF83nwGuI6aV55Qp/R01j9Hq+6dcpJI6F+kRkpZUbLtY0tHEdw8xA7lols4N8DvbV9d4fy/dN9dP2L6n87+syFJJbwf2AJ5VVFbr3Nza9v8g4CnA+ba3k7QFYeSrcIWkfwZWlrQ5MWv6UY1z3yNpN2Av4MVlX53P/ntJm1EGM0Xn6uYa7d9N3MzOtf2TMhD7xaBGtqt+P4No+/kndWokH8CxwHeJL3ZN4u5XeWpejrEyMfr5OmEc3ka4O04c0O5zTDENBZ5b8dwX9Nl3fvl76YC2byYM9DXAawm30Btafp/zZvP7By4AdgOuADYt+ypNj4HViOnsV4GvAW+kuFlm+tzlvR8DvlSO8bLOo0b7A4HfEKN2AY8Eflij/cPL5/+Hsr0J8OpZ7P9Pyt9LmHBvXVKx7ZrAe4ks9Z8A/wWsXuPcWwIfB3Yr25sCh9Ro/yjge8Cd5X9wLrCwzrXf5kG4EM/sXG/A44H/N1ufv/sxsklMJVrlCcA1tm+X9FBgQ9uXVWz/EcK1cSZwtLumapJ+ZntGV/Ml/Zjwl32l7HoF4XvbRtIltp8wRTsRWjxbEC4RAafbPqPGudcH3gc8wvYLFFr6T7d9dI1jtP3+twT2B35s+4SyILyL7YGunTJT+avt+8r2yoSRuXOmz13aH9tnt23vU6X9FMec55huV3nvf9t+26B907Rv1X9JXyNmuwcD/wj8kXCVvXBAu5WJa3X7KueZ4hgHOdxQ0+6rcJy1gJVsL63ZbgExoFpIl2ejxnf3A+AtwGdsP7Hsu8L2VjX6sAawibtck00YOeMu6UnTvW774orH2YcYoS9nECSt42n8gpKWsryP+k/AYuDfbV9T4fyPIkZQTy/HOp8Ygf4GeLLtc6dpe5HtJw86xzTtv0OMvN9pe2tJ84iFor+v0HYo338bJJ0PbG/7z2X7QcB3bW9boe3KwPG295jhbvY795ume912pagLSRfbflLPvstsz3pYnqRnEwukpzlqMwx6/ynAntP9vga07/fZl3QMZYX2BxHX/lLgKOBJxMj3uxXb/wj4ITHTv6+z3/bJFdv/xPZTuvs83WCuT/sXE8Egq9reVNITgHfb3qlK+25G0ef+4WleMzGSqMIlwBY9buI/Ab+ucOG18ZdHR+MG8OIpXp7SsBfOl/QU2z8ZdJ4pWM/2ScVvi8P/fN+gRoVW37+ky5lm8baigVq9Y9hLmz+X9Y6B2L5PETq6ahVj1A9JGxHrKs8gPsu5wEG2bxzQtM7CWb/zvg54PbCZpO4Z0trU8Fs37b+k+bbvKGGAHS4vfx8E3Fbh9H8FLpd0BiUgAMD2gQPOvRvwz8CjNDl0cm3gDxXO22Ef2x+T9E/Aw4gZSMfFWIU1q86QpqCtz/9dRLTP2QC2L1GNMOhuRs64295uSIf6JHHX7oSVbVWeP1TS/gPu5M+3/bSu7SMlnW/73ZLeUeXkLad32wH/KunXxA9E0bTyyO0vxY3SucC2IW5sAxnC979jy/YQ/X9SZ5Yg6cnAXTXaXwecV4xEt4GpGq98LHFjf2XZ3qPs22G6Rm6/qPZF4DvA+4HuusNLbVcxrB0a9b+02ZEYtZrJdRlM+LMH8a3yqMuPCCO4HpMHGEuJ321V2gYCfFPSC21/u0abbg4gxL62kPQb4FoiIKAq99r+U0+XG7lXRs64dyNpK2KBYfXOPtufq9j8OmBfFzXK4od9C/AeYqFuOuN+v6RXMdlfvqwLFc//DWJ69z26pncVeUHN9/fyJkJiebMSIbSAyZ+hEk2+f9u/rnuePhwMfFlSpwbABsAuNdrfVB4r0Ww0vcB2t9/6OEkHV20saXVgX+BxTP7upr2xlxnlnyR9DLit4y+WtLakp9m+YCb7b3vH8rfRSLG0Pb5hu19LuhH4i+0fND0/cJGk7xILkW+XtDZwf432BwHvkHQ3cM9E9waHkhaX4Otsb9/U50/7aKMJplttncsHkchzFvA7YtTxW+ArNdpfMtW+fq/1vO9RRFTN78vjVCKpYA3gmU3P3+A7eBgRKbEJscBSp+08wrhsRSyGzfb3vw0RLfFn4G7iBlcnEWiV0ve/b9L/coy1Grb7HjHaXbk89gDOrNH+y8Qg4ldESNt3iXj1qu2XUNbDyvZKwMUz3X9ipjvlo+K5ryWivCY9avT9FGCdJv+3ru/qSZSkNeChwOObHq/B+b/fsn2raKNJx5qtD93gQ15e/lGXlu31gVNrtD8J+BTw7PL4ZNm3GiXUa4b7/1/ACxu23YkIQfxL+bHcD1xZo/0BdGVkEtmGr5/l738xcUNcUgzM3sB7Z6P/xCL2VcD1ZXtr4JM12m9SjMytwC1EKO0ja7RfUv5eVv6uUudHT/+BSZ0sz0b9J27mZxGht/eU/+FF5fm5Fc/90K7HhsQs7N01+n4ScD2RfPbxzqPmtbshsC01s2u72u9ELGp+CNixZtsPl+9+T2qGoZbfyffqnG/a4w3rQMN+ABeWvxcxkQZfx8CtAfw7ESf9dSJ2fM1isB40oO1Gpd0txMj1ZGCjmv1fShjlu6iZAk4kHz20y0hsBxxZ49yX9Nm3ZJa//8Xl72Vd+340G/0n4tw3pmEKettH13d3DjH7WI96o9evEtPxVcrjIODrs9j/E4G/79reCjiuxfEq3RjKe/fq96jR/r8Jl+y3iRn3qcApNdofToRP71MeZwCH12h/bJ/HMTXat5q5dD9G2ee+WCGYcxRhYP4M9KYV96X4vk51xNv2i/74c5993TRdkFqG7TaRE/fY/oNCdGol22dJ+u8a7VeSJJerpXwfq9bsQ+Pvv3CnosTiJZI+QCyWVc20bd1/2zf0LEoNXPeQ9FbbH5B0BH3WVjwg4qOLIyU9BPh/xI/1QcB/VmwLEaP/8dLehLHZb1CjIfZ/C9udKBlsX1FC8gbSE0q7ErCIGusebuiz72JnQpfobw3bvxB4gu37ASQdT8w+D5m2VcH23g3P26FRtFE/Rta42359efppSacB810xgcYRDnfnoHj2aWi8oCZpC9s/nSpe3NXixG8vsd3nAF+QdAv19DFOB06S9GniR74/RaWvKm2+/8KexDTz34j4/o2Bl1ds27b/N0jaFnC5wRxIyEYMovOexTXOtRwO6QuI/1+VCJPe9rcQ4bd1GUr/gaslfRb4P+L734Nq3x9MHkzdS4yiX1X1xGUR8f0sv5Bf9Xu8hpjtNDXuAA9mIuxznToNmy6md9E02mj5vpTB0cgwJOOIpJOIRb3ad0BJ3wOOA04ou3YD9rb93Aptj7L9Wkln9XnZtgfG6ZeV9ruIkc/uxAX2BduV4n0V2aX/CjyXcKd8F/isS8bngLZD+f7b0Kb/pf16RALZ9l3tD6rx/b3S9pcH7Zum/fuAD9i+vWw/hEh+qyQ9q8gw7Tfyrpol2bb/qwOvI/zVEDepT9n+a5X2bZB0LrGY/z9EnsjehJ06tGL7k4k1ljPpMvBVR74l3v5wYu1BxHfwdtsnVmz/ZUK08J8JnZrdgattH1SlfTnGqoSMAcDPHMJ/tRlF436k7f3aGMdynL367a8y7ZO0CfAJJrJLf0QYh2GE+U133kcD69s+r2f/s4Df2P7VTJ6/nKvV9y/pJNuv0hTJTJ6DLMu6qH+W5HL7pmm/xD0ZlTXbd89wVicUAm+qYaBa9b+8v1EKvNpniF5k+8mSLnfJqJb0Q9v/ULF949991zE2IITTRGhE/bZG2yW2n6iSUawQkDu9ht16DnA8MeMRMePdy/Y5VfvQYeTcMrb3K39bJdPYPr7pBWr7emLFvDaSXjbg2F+d5uWPAv2SpO4sr02V8do5d2vDWgz7SoTY0XmD3t+HzgilcTJT06n5VL7mrvaDsiRfQPhcN5T08a6X5lPPLbaypNU6ft9yHa5WtbF7Ut0lnUCEN07LsPovaSfgg8Q6x6aqlwLfNkP0r+X6+4WkfyPkOh5Wte9Nf/d9ZqydbN5
    HSHpEjRlrZ5R9uyJP5LdEImNVPkzUTfhZ6ddjCA9CbTmSkTPuHSQdQLgibi/bDyGU0j5Zsf0yjQYqXqBtjUNhOgNsIhJiKhb282vbXixpYYVztzas5Xz3S/oQMXOp2/bmsgB6tJsLSB3LxNR8O8rUvEK7tr7mm8oxdmKyxPBSYt2gKv8HnNnlXtmHGI01ZXMivHEQw+r/oSyfAr+wYtu2GaIHE1FtBxK5AtsRETPVTt7gd194E7Fo3S8Aw1SXPekspv8HE4vp/1GxLfSpZaCGZSZHzi3TQX3EdvpNd6dpfxHxDznbEwI+y6Z6U7SZ9iIawkr+tEj6pe1H132tz3vfCJxk+zct+nIYkfb9VTe4SNRCQKrt1LwtklZp6ufsOsYL6FozsH16jbYd4TqVv78l/L5VxavmE5meTVU1L7D9NE0Wv6okXFZuaBsSGaJbE4vqZ3uAEJ6khxGz1kcTORbvdxQ8qUWT331P+9V71xb67ZspJB1D/M+7axnMc4MonJEdudM+HK62RkOv8VakLttdIlaDkLSH7f/TFAqBnl7f5CeSXmv7qJ5j7ku9YhXzge9Kuo2IWf6K7d/VaA8xklkLuFfSX5nQt6la0adNSFerqblC1+dtLO/WqTr6WiipTcQGtr9D6MTUxu3CaCFcINszEfK7Rtk3UFWz0CYFfl8mpKLvVGgcVTFMnyOu8SOImefHgX+peM5u2mqz/IhYJxi0ry/l876LCdG2HwLvccXFfGIh+wDiOxexmP2/FdtOYpSNe9twuMYXaPGVfR5YNzZ1K1Es4coKzTux3E1+oAcDX5PUXXloEXFTe2nVgzgErA5TVG7fBfiBpBvruEmGYGDahHQdzOSp+T9SY2oOfIEoVvEi4rrZi8jWrEojt5Ckc20/U8tLRle6MWp4csuNVTULbwDeSUSbnED8Ft8zXYOOz5ow7BDqjjVOycNtv7M8P11S06isRr97SQ8nZhxrSHoiE//v+cS1WJUTCYPcWRTfnbgWq/729i8DwGWDQMUidS09e2CkM1RXIu5iXyEyRP8VWLlG+26NhsXleSWNBuJi2K5r+zlUzK4c0mffjviBvQH4xxbHeXg5xnnUL5C9nBZJv30DjrEGXYWuG/R/Pg2KklMqRjE5O7ZOgelO+8u79lWupNTi855Fy/T/cpzz6NKCIRbjfjzDfT+y5zN0PwZKLxBZ2Q8hBlTr9m7X6EcjbRZiAHAWsT7R3fdTqFfFarlqZZRs7Yrtl9MQomZ2eecxsj73uUTSpba3HrRvwDHaJjM0RqELvguhBvkV4Eu2r6rYdnXiB3IWcVPrHsF8x/bfVTxO46IDkhYRo+fO7OFPRBRGJdeUQp55G0mnE9P7mwjX1GYV258H/APx3X2fcAsd7hrVu8qi2sZMlnuumqNxIqHDc3nZ3gp4s+1/qdj+KcQIcpKq5qDvT5N11Jejyv+uKZKuI+Q6+g337cGRUp+3vacaVG3qOc7LXXFtY4r2HyJuyieVXa8AHucBcfqa0LN/JuHK6TCfcDXVDk4YWeMu6RmE7+qRxA+kM7Wt5PcsIURvZnk99SpJRF8DLmZiUWMPYJHtnWv0v3UyQ1OKv/hLti9p0PYgwi3yCMKodX5sdxDFxT9R8TiNF7YUhSoOsP3Dsv1MQvirUoy8pB2JH8jGhA93PnCY7WmNV1f7pxAZmQ8m3BHziaSkSpK7kt5D+IuvYUJu1lWuvdL+Ei8fTLDcvgHHWAV4LPH/+6krLBAX9+MNhCvmAnoMrStI8Rb3z5uIUMT9imvksba/WbXvTZB0FSGVfQqTByUAuIYevqQXsfyg7N0V2y4lXLOd//tKTKw52VO45hRF7Delj5Y/MQOtE4obxxxh4/5TInyrt9xV1SzDS4FP92k/cPRXRl2HEXfRzqLGu2z/sUb/l7hFMkNTykLkZa5Rs3GK47zB9hEt2reJuDjP9jMG7Zsp1D7D82eE8FbTSlAnEAahO/3/QbZ3q9j+1f32e4AWfwla2IHIyH48sWZygqutNXWO8SXiN/dq21spYs5/XOfG1ARJBxJu3EcxMWPpUGdQ+Gli5rod8Fli5H2h7X2H2N0q/XgokR17fdUZ63I08eXMxoPIDGvTfjnf1yz3v5UyYMtzf4Ga+u99jvFKir+bELD6KhU1vUubo4lZy2VEnPYRwKcHtOloh/8P8BliBPZsQq65klxwOc4HiNH2KkQa+u+BPWq07+f3rKOnfjLwsBbf/erEwOZr5fFGamh6l++68ziKmEFU1uIvx1iNmH3cCryhRruOGuiSrn2XtrkWa/b7Uy3bX9bzt1O/t84xXkYsiH4Y2Llim28CW5XnGxBCe6cS0tUHN/ksoxwtc5akDxJGpVsjouoq+qmSXk/8OLrbD5yetXHpdNFPGbBSMoMiy/W/ifA/UT8McQPgSkkXMjkMsY7P9D9sf7m4RP6J8J9/Cnja9M2W0R1x8UUqRFywfAJJt5+yzhTzebbfKumlRKbhK4k1hP+brpGGl6H6fmCJpCuYfO1V+v5t/1XS/xJZqaamvojtN3RvS1qHCRfjtEhajYgy2o24/j/O9Il3vdxdRuudEObNaCfiVQvbryvX7Oa2j1XoDK1t+9qKh+iUc7xT0iOI+q2VK1NJ+iQRq9/Rpdpf0g62DxjQdFPbV5TnewNn2H61Ihz7PCJDvRajbNw7RmRR1746mWKd0Lm39LSvMj37MuHS+Sz1S+R1ONPhxlmmDKjqhW4/ALzYdlUlvl7a1vKEic/9ImI09A1J76rR/kWO0LZOeBuSXkl8t33x8OrndjL6Xki4FW6rGJY3rAzP44mb8+XUK/EGgProi0jayw30RQp3ErOnQec9nphlfodYo7hiQJN+HEqELG8s6QtEvPe/1D2IpL/rXP+StrF9fsV2hxI247HEovyqxE29qkvvmwqp6w8S624m7EBVnk2MwDs3t+OZKDI+Hd037+cSMy5sL5VU+xqiNM7H8lOk1i4d+k/tKx0XOG8I538ksH15viY1QwqJaeJniFJxDyam6ZWn11N8/kquDUIF8yOEoV1MjOjXqXHuw4nF7CWEoV9ARTcfkVH5hZbffeWwyynaX0RXCCmhEFj5mqQUqCiPbxJumYEFJ4gb0dLyuKPrUbnQTDnOQ4lBwY6EO/JpDb6DbwHnAm8Ffl6j3SXEDXFJ175aYcBd7Varc92VNl+lq+pV+R2eUPF/9gYin+WPTJQJXIMaRXK6H6M8cm+0aq1SsKA8n7QIJul9tvsJc/XSxqWzRenzOposIja/+3NM0bbz/sVlYerrPeevND2W9FpCJ2NdYDMiOePTxIigKq8Cng98yPbtCqW8twxoMyzXxjHAFUzogO9JjMKmFWXrYPsQRXGTO1y0/YGXVGx7n6SHSlrVDRdEiSLN7yeMaxOXYlt9kQ91Pb8X+LXtG6d6c9d5VqpxjumO8we6EtgUCUnTauMotGtuc5EcsP2iskj6QWLtpip327akzsi5aoGYTj+WaVrZ/pukNSW93hU1rYgb29XFJQqhLvnjTpipp3bN7UtE1W1PhK3eXvZvQ1z7tRnlaJlGq9bqkjZVj8xp7/Y0x+jnn7MrrLhLeglRDWYn4sfdYSlwou0ps+UUuhxTYVfX876EEH66wA30Ncr7+/4YHYqZ07XbmshSfDeTqw8tBc5yhYijtqGAbcPxJH2GWNg9hclrFtNJR3S3P6vPbrt6KOSxxCi6tr5IiXg53c1F24aOpBtsbzzgPRcRCXt/KtsHErkarwH+t8Z392bCBbUDsfaxD/BFV4z8muLaW+LqmlbP7t4kIu52A14P1cJJh8Uoj9y3dYQQXmb7MEkfptrCjqZ43m+7L7YrL6D0afsN4BuSnm77xzXb7g0R4+/lNd3rhAH+zfbdHT+zpHnUW5CEGHmZ+M5WJxaVfkbMSqbE9qXApZK+6JriW5I2KTePuyQ90/a5Zf8zmFjoqsKxhGujo6VyI+HrrxprfVN5rEQDGQm3XzvYn+X1RSqNHN2+CtlMUOXaW6XLsL8PeCKwg0OfZp3KJ7I/JGkHwp30WOA/bZ9Ro6+tNK1s/0CRsPfPxMzzWiJKbNaMeodRNu5NV609xfN+21OiKNO2kMnRMtPGCffwB0lnEsU3tlLovOxk+78qtD2C5YWK+u2bih9Iegehk7EDMWo4tWrHAXpH+Qrdk3+tcYiFqi++9XXiM74OOL78qEWUPPuXGufezPYuiqw/bN+liiuq5f2HAaiBcFxptz7wPuARtl8gaUvg6baPrtB2JcK/vhVd+iI1GVodzqpIOpX+vy8RropB/KrMWDYiroHHFcNeKSO6qx8PBm4nMkR/3uAG10jTShFhtysxSv8DoSejIdzoGzPKxr3pqvXWku4gLqo1ynOYGIEORNLnCV/1JUxEjZhQrqvKUYSP+jMAti+T9EVC62Kq8z6dGG0u0GRVyfnEQl9VDiF8eJcTBvnb1FvxXw7bFysyN6tyLPXFt1TOdQnxf5xftutKv7YKx9Nk4Tgk/Z7qwnEQJRqPZSJS6OfEj32gcXdo6V/aNYtpQj/Rtpn2v36o4WsddiFGuncTC8DfU9QO3oIKonGK0nRHEi7Ra4hZ1yMV2eb711g/eRvxm3kdTJR4rNDup0RW9Itt/7L0qU6E1dAZWeNuuxMTfbKkbxJJHAPvwrbrGMGpWARs2ZmaNWRN2xf2DBgHLSiuSsTDz2OyO+AOYs2hEo7K7UeVMKzHESX6an2WnpvLSsRoqo6y4hq2zyxT3F8D75L0QybHrvfSuwjb6QtQa+TZNhzvSOBNts8q538OcbOuKpm7nu2TJL0dwPa9kuqE1LbNU3iwe/RVFLISM0Zbt0MxvsvyEBT6Qn8P/KJrcXE6/h8RGbWx7aXlGGsTcrn/QcUck/Lb+VR51OHlxMj9LEVB+ROp6Abupt/1T2grLS4u38qMrHGH5V0jkuq6RppyBaGoeHOLY/y+jBg7o8dXDDpe+YH8QNJxblCvtUwlj7B9ZXFp/JiYeawr6c22T5j+CJPovrncS4wE6wgqNdFkv4t6uvV9sX2GIkJjG+IHdpDt39c4xFodw16Od7bqRV38RZE+3vnfb0P8QKvSNk9hL5aXiP2XPvtGFkdxjJ/UaPIy4KnuKkjiiBF/PXA+A4y7WpaotP01Qq57LWL28EZgfUmfAr7mijVkCe/CFkzkg7wcuBLYV9J2tg+ueJyRjpbp6xqZJb/h2kTEx4U0yDAsx3oUMQLclohbvRbYfTqjPY3fstL5JV1p+3Hl+cHAc2zvrNCq/k7VFf9hoOXFt9YhxLemTEZRzSLOfdoPRQ9dLYXjSj+OIBKCriDi7F/hPiUUe9qtTvh4O9WIjnYNwSjNgLLgioKm0S1ShUgxSRs4SkQ+st/rDQdb6xLZ0bvUiPb5PpFhfW/Znke4hnYgJKi3rHr+UR65D8M1UpcqvsFK2L4G2L7cyVciRqW7ANNdJG3P3+1X3IFy97f926rriW1vMF3v64y6/ky1Sjwwuf9N6Ff/skOd7OZ9iNHzV5mIVqn6GTrrE89mQpWxqnzA8USm4g8JhcMtmaiLW4UfEbPD9Zj8XSwlNH7mBM1OmTor5D76XegDMzxt31z+1jbi0xzzNmLN7TM1mm1IqEp2ZnprEQvz90mqJeMwysZ9GK6RWnT8hgqZgJs7F2RZnFu/yjHKIuABxD/pG4Q+yAGEVs2lhKjXtOdvwe0KudvfEH7mfUuf5hGZblXo3GBeRnz/HT/obkQ6/LSohSa47W2qdXHK9kOJTHDE4h9YXFv3d3y4NXkqEy7FJ1V0KW7piZqxRxMzx8oUw/RrSdsDd5XF2ccQ0/wqKfBDo6wXnEhorHyFiun/xZV5oyOB6DmEOuXnKvjd1yFcen314Kv1elkiYRtdp7Z8ALhE0tnl3M8C3lcGid+rc6BRdsucRUvXSItzLybi7O8u26sSkgADo0UkfYNww/yYyAh9CLFQepAr6qsrkm5q1/AsP+SPE0b5o7aPK/v/iZjq/XuV85c259h+1qB9fdq11gRviyKb83XEDwPgbOAzFUfPHZfSMTQvFtLIpdjrlmrqplIkBP0Dce2dT0g43Gl797rHaopCsOvfiKLXb7bdb6GwX7tLiFn7QiIs8RQiAe2FM9PT5c7/S9rpOg2jDxsQgwMRiZu9EsbVjjPCxv3Z/fbPknHol6VWqRJTt39PkQDxeyJTsvLoT9K5TIQRvpgSRugB1VyGiaSrCfGva8r2psC3PaASk4agCd4WSZ8lIieOL7v2BO6z/ZqK7dsWC7maBi7FElHTiY4RMdu6k5qjx85NQdIbiKilD6hGlmUTFDHq7+q4NcoI/BRCwuPhNb77Tt/fAvzV9hEz3fee889a3YApzt938OQGonEj65aZDSM+DbdK2smlco9CUqBqtMWy0WHxk13bYFrfJIxw2LwROFvSNWV7IRWSmGzfR4QhnqaQj92tHOfdrln8Qw2VAYGn9NyIv68o3lKVpR3DDmD7XEWFnao0cil6OGG8AFLkTOxOcc0x87/1J3UZ9icTMs/72D5PEzorVbinLAzvRQxsYELlczZopes0BLr1m1YnRvCdqma1GDnjrpYV5IfE/sAXFJraJtLX+1a36UMniQomJ1LV6X+TMMKhYvu04h7aouz6qe1KCzpqrwne4UPF730KoTHymIrt7pO0me1flf48inrSzRcq9GVOIP7/uxA3qCfB1FE3PdFWVxWjNqsuxcJBwNuJELwry+fvp3czTFxGnZsQ2bkvKOdejXoSDnsTv7/32r62zBin1eEfMvOJ2dLzuvaZZtdvbWy/uHtb0saEH742I+eWkfTIYa5Yt0HSg4jvqMmCWpvz9qvh+cEaI9dh9aO2BIMma4Kf6Bqa4OpRBiz7likDumLhYknPJTJEryFuqo8E9nZX7PqA9tO9z1OFtSnUONdnchgihMb3b1xBfmBFRdLTgPcSEU+/Iq7ZM4kb4xW231bjWGsQrsyfDXzz1MdoOusbKRRhbpe5hujfsrYjaNy7VR1Ptv3yOehDY22QIfdjLdt/GfzO5dodRBi3pUTq9BOBQ1w9kaLNouD9dBUE7n6JATMXDUkZsLRdjckFome8GpAik/od7olnV2RbHto7KpvBfgyjkljbPuxEVPBaQsTrVzI0kl5MRGytantThQjXu+vOeiR9i4igOQV4je1Ks76ydtAviamSImtbJB3Rdf6ViKCS62zvUfdYI+eWYXJ0RaWitjPAcTTUBhkGxV96NCFFsIlCRvdfbb++4iH2sf2xEiWzgJjqHkskQ1SlUZ6B22mCD0UZsPBkJozb1qqR3dxzczyKkF6ocnNc2GvYAWwvLrOS2WIYlcRaUdarpg2LnYJ3EX7ms8txLlGFCma9sz4314PvVg5dnSie0ShapSGLu57fSwQjnDfVm6djFI37dKqOM4qkeY7MsLbaIG35KDHq6Qj8XzrVKvoUdG6QLwSOLe3r6lzMep4Bw1MGbCv81n1zfBjVb47TCdMNzDPos840iRrrTffarquNMirca/tPPZdrFTtwMl2Ljl2zvicQ+jKVXHq9rj9JJ1AzvrwpnUizJqP0foyicZ9O1XGmF1QvJIxKW22Q1ti+oecCr3NzuUjSdwmJ5LcrBJTq1mFcj9lfFGylDNhF2+zmpjfHn0h6re2jJh1M2pcKmjm21y7vfzfwW0L+QETUS51FycaVxEaAKyT9M7ByWdA/kMi8HcQwZ33dbM6AKlLDokTXLVC7KmDLGDnjPsRwsCZ0fsBvIkbNm0k6j6INMov9uKEsZlqRQHUgscBalX2JEcs15eJelxrp84V31Xx/a9xeGbBD21lH05vjwYR41O5MGPNFRBLbS2uc/59sP61r+1OSLqB61ETnRtikOPzQKBFfD3I9yeY3EO7QvxHRSqcTQQWDGNasrzN7Uvn7W0IGeLa4DjhPkelduwpYNyO3oDqXSLqRiQIJKxEFckVcaPc1+YIb9mM9QsFv+3L+7xIZrn+o2P4ZwCW2/yJpD+Ji/9ioRCHNFBqS8FsxSk8gbo63l1nchv386VO0346IGIIobvz9qp+htP8R4Uo4kfg8uxFJVVUlh+cMRc2C/YmZ5kWUYue2PzjD512VybO+44Blsz7Xq8Y0Z0jqm8viUkCm1rHSuE8g6WZCx7nvFLzJFzwXKDIstyYyRD9PLM6+zHbfrN+etlP5fWdbY6M2iuII84gIjeWkBlwjMU7ShkQIZXe0Se0swSaUxcGPEXosBs4DDrZ9XcX2reQX2qCS3V1mL08mRr0XeUB2r4YkWNd1vNVpNutDUTVtIZP/97OVxDQ0Rs4tM8fcbPvdc3XynjCo5RgUhtjFvbatyKz9mO2jJVXyWXf8visoGxISy+8gRNp+RBjGH9fxN0v6b8L/fxWTF2RnxbgXI/6SFof4FJHV2am7umfZV0kCoCWrlJvLzsAnbN9TcS1/aIqs0EgPHgBJxxCDoiuZcMXNShJT+Y0eRITwQrhiP141yquXNO6TqV05Zch0h0EdRnO5gaUl0mdP4B/KKvxspnC3Qg2VAW2/ubRflfB1b0vI9x4l6XZX18LemRCrmvHY+G6GeHNvK7/Qhs8QfuNLgXMU+uhVKqh1FFnXoihalu2VCffobLFNjetkaEh6NbFm8yailoAId+oH64TxdpPGfTLPncuT2+4IXSHp4O7tmuxCxPbu49By34SI911ROBlYJOnRhEvpFEKrpKoy4BpEhuQ65XET9SRvryFuhrNq3Jl8c29DW/mFNpzqLgVISdcTN9iqnEmsNXWKkq9BrDnN1nrDjyVtafuqWTpfh9cDL+1xvX1f0suJtZc07m0YsVCxxoshxaCfTIRxQYiefW0ovZod7i+5BS8lpIuPkLRkUCNJRxI1Y5cScsM/Ihbz/ljz/HcSmtpnMnlBdsaqgJXjT7qZlygd2/7zFE2m4i1ELc9J8gvD6eVATiZGnEB0XtKJhP+9Cqt3f17bf5a0Zp0OKFQ8N7d9rKQFRMTOtRWbH08Y+N8S//vOWlMlRdAWzO+3pmL7OpVC8XVJ4z6GKDRO9gPWJZJ5NiQyFud0ZlKDpsqAmxBT+F8QYms3Arc3OH/T7MqhIGkrYiF83djUrcCrXVE22aEoujmzKL8gaQvixrqOouBFh/lMn9zVy18kPclFnE2hMHlXjX4cSrjkHksknq1ChNdWlfE9hnBnXk793JA2TPcZK3/+btK4jxA9kSprtkjgOoBI4b6AaPgLSbOqKtmSRsqAtp9fko0eR0zj/x3YStJtxKJqpTWMFu6wYXEk8CYXobOy7nAUA1wTJexVtj9fjPllZf9rJf3F9hdnsM+PBXYkxO66NXSWAq+tcZyDgS9L6qT8b0C4GavyUiKB6WIA2zeVGVBVrneR+p5l/q5EufUiGuYnZCjkGCLpAttPUylyoCizd/EsTC2HhloqA0raiBitbUsYnYfafnDFto0qYQ0L9SkM029fn3ZLgGe5R8W0TOvPsl3VNdIYSU+3/eOWx1iFybOOyiGcki60/VRNFP1Yi7ixVy208kniBnUqs6jnrikKc3edv3aOSo7cx5MfSHoHId+wA7FYc+oc96ky6lIGBDZVRWVAhZ7ItoRRv4cSBklMtessqB7LRCWs7SiVsOp9ilZcI+k/CNcMwB5AFZ/xyr2GHcD2HcVgzga/LNfeQibHiU+7qCrpH21/v8elA7B5iRapalxPUmjxP7i4J/chZj1VWYMw6rOq5z4TCYY5ch9DSoblvsQFKiKF+7NeQf7ZKtK/wNku5dXUVb5wmnYfocS2u1Szb3p+20/W5JKJP7T9D02PWfP8DyFCYZ9J/P/OIUrYTbswrCjvt8g9MtHFLfET21v0bzk8SnbtD4ns1GUROh6gxS/pMNuHKiQEevGgm0PPsXag69pfUbJTh00a92Tk6HUrlX2XzZZbSaEn9A/AV4DvE4uzh9t+7LQN5xhJbyYWzV/Xibwo2a7/S9woZzwcVn3qD88mZX3m5pLE1HHvrV8ju3dTQt9mIZNnHrNVRWtopFtmDFFoy7yLif
    T5zoLsXOnj16WpMuCwOBhYs5z3PYRrpo4qZSvUsNiG7Q9J+jPhlnsQ4U74C3Fjmi0J4G9KeqHtbzdprCiy8nKW/+xVM8e/zOSF5/vKvqdUbP91IrfiVGY3Wmbo5Mh9DJH0U6LAde/UuJLw2FxT4prfyWS30ns6o7EZPvfKhDF8y8A3z1wfLiVCV3v/fwNlg7uOMVclIpcCaxF+63uoGekl6TQio7X3s3+4YvvlZg5VFqO73nuBJytyzgqSLmf67OTas9YcuY8nf7L9nbnuRFNs30kY93cOeu8wUSnWIunJkjSHaxSti200SHwaCm6vTbSR7ee3aH+rpJ064YwKfaXf12j/sRIr/10mR8v0LYo+RHYsfw8ofzuL6bsTSXW1yZH7GCLpcGBlYoV/Ni/QoaD+CoF/ItLzPzNTI/iu8LkPE9m9X2aypvZMh8OtW54eSMjVrojFNjoLwpszOYy0kuhayTI+wnad6Kbu9psBXwAeQcwabiASwH5Zsf37iSSmX9ElHDbIJTYsJJ1n+xmD9lU6Vhr38UPSWX12z9oF2hZJHyMKpJxQdu1CFE1Yg0jT3nOGztsx7t0RG8sKN9SJ2Gh4/mu7ztfLCrFmIuk1hLLhRkSZw22IOPNpr70ut8Q84sZwDS3S/5u6pYpL8/EeQiWkJki6BPg32+eW7W2BTzZZpE63zBhie7u57kNLnmi7u2bsqZLOsf0sSZVS8BvyMElvIio59RrZGR8F2R5YCLoOkl4HnGL7Nwohuo8O8/hTcBCxeHm+7e0UsgRV6iDsOPgt1ZD0IiJLeXUVueEaC7KXEklMtwyrPzXZFzhGE6UBb6ee8Noy0riPEZL2sP1/xUAth2epktQQWCBpE9vXAyhULdcrr83kiGpl4EFMMXKewfNOoiwov4nI0N2vRAw91vY3ax7qQcDnJP2N+GwfHW5P+/JX23+VhKTVbP9U0sAQ0u4kHvUR/qp6ckmfJiKdtgM+S5THvLBG/9cHfirpJ8xe7eBllEXzrUtWsVzqwjYhjft4sVb5uyIX3IDQhDlX0q8IQ7sp8PqSSj6Tui9zWqyli2OJaJFOSN+NhP9/WuNeFg9/Yrujy/IhQpdke2ZP8vlGSQ8mQgrPkPRHQnK5Emov/LWt7ceXvIjDyvpJnbWSpjUUhkJvKGiDmcfEsdLnnowi5SLfggl9kdkIg1yWNDWXSFpse1FPElcVbZnLgCfYvr/IDZxAJGC9jUhi2mbGOz+5P88m9PRPq+rDLj7nJxJaSLUT2LoS4M4HXgb8AbjC9uYDmnYfY30m4uIvtD1rLpq2oaDd5Mh9DJH0AeC/CKnQ04h6qgfbHqisOEJ0JGtXBx6vhtVoajIqksh3l8xKw7IIkCqSvauU969DjFa/b/u9Zd8aM9TXZShkLy6zvRXUq1nbxd22Lanz2dca1KCHb5aZwwcJZUhTQ1tG0qtK27OJgcURkt5i+ys1+9GUtqGgy0jjPp48z/ZbFcUubgReCZxFBdncUaBMzZ9DqDJ+G3gBcC4NqtHUYYRCDQ8lbsobS/oC4ZL4lwrtvgT8lHDL3QL8SDGv35NZWCAsM4ZLu9dLGtBK+Mv2e8rTkyV9kyj+Ucdv/U6iTOEtAMXn/z1CimI2+JGkv28aCtpNumXGEElX2n6cpKOAk22fVidLb64pYXFbA0tsb12myZ+1/eIBTccGSQ8lwghFRJ5USsRRSB3fS4z0jyb87ZcSsd5VqxE1RtL3CZfGhUzOERik6PkK4JtlMbax8Jek1QkV1GcSo/ZzgU9VdeupR6CuzEYu9QDRumEh6Srg0YQKaKtKUDlyH09OLfG6dxELkQuAGfdZD5G7yijw3hI1cAsNCxasiCi0gS6x/S1FAY53SPqYK8jC2r6xa7NXPnc2qBL22I/dgU8Wn/MJwCG2m9R9/RxRIOSIsr0bke35yortT5N0OpNzLGYz2/sFwzpQjtzHlJIleIft+0po3Xzbv53rflVBUTDhHcCuROTMnwljN1t1QOeUsjC6NfB4wlgdA7zM9rPntGMzTLmRv5T4v28NfAM4oWp2azlGo0InPe9/GV1yy7Znvf6wonJad4ZvbTdXGvcxRNKr++2fhQXJ1hQf8Ua2byjbC4kbU78SZGNJV6bsfwK/sX10Z99c920QmlwqclVikfcvrl4isnOchxIx6q8H1rW9ccV2xwGftn1+2X4asJft11ds30oyuC2SdgI+TMgn3EIou15t+3F1j5VumfGkW950dSIK5GJmeEFyGJRIia8DTy7b181ph+aGpZLeTlRgepZCqXK2Kim1wj3CYZJ2Jur5VqbMOl9GuETWBaYt9NHD04BXS+qMdDcBri7rOFV8120lg9vyHmKt5XuOEpnbEa6l2qRxH0Nsv6F7u4TGfX6Kt48i50t6iu2fzHVH5ohdgH8G9rX925KhWzkJScuXqoOInb58NmO2AWx/XdIhg96nqBa1M2HIngScQoTznuV67oW2YYTzumPybd8tadWWx6zDPbb/IGklSSvZPkvSfzc5UBr3BwZ3EnHjKwrbAftLuo6IuGgcMbAiUtZGPtK1fT31Zl37Ak8nwl8hwkrPBx4j6d22Z+xG33NjWYnINq1inK8ldPs/RSQ9VS6K3cM84Ebbf5P0HMq6he3bK7ZvKxncltsVomfnAF+QdAsR/VSb9LmPIZosmbsSES9+ku2BI6hRQFNUgq8SLTIOTOG3/rPtdaZuNan9qcBrbP+ubK9PGM3XEAuEWw2/18vO3a2oeS9wHXDUoBmDpDUdOv5tz38JcUNZSNwsTiF0eV5YsX1HMnhD4n9wIzUkg9tSkrbuIn63uxMZvl9wg0I7OXIfTz7U9fxe4Nc9IXIjje1fq4V41IrOEPzWCzuGvXAL8Bjbt0lqOiKuymdtn9e9o4R2Tmvch2HYC/c7Cq68DPio7SMkLana2PavgG00R5WsPFHc/H5a6iilcR9DutO+Ja1H6GusMKi9eNRYUdVv3cUPS3bml8v2y4Fzyqjw9mH3r4cjCJ/5oH0zxT2SdgNeDXSS3iovRpdZzvuAR9h+gaQtgafbPnr4XZ1Z0riPEZK2AQ4HbiNW3T9PSOWuJOnVtk+by/7V4KUU8SgA2zeVBbcHBC381h0OIAz6M4j1is8Rmcom1jOGjqSnE1EmCzRZcno+ITdc5RjDqF+7N7A/8F7b15bQxjqyG8cRA4pOicefE7IOadyTOeUTRPLPOsD3gRfYPl9RMOEEQq9kRaCteNSKTrfMQsdv/ZKqjYsR/wqzp4cCsTbwIMKmdN+I7yDi1QdSEu5a1a+1fZWkNxOLx1sBP7N9eI1DrGf7pBKKSnHxNMmUnXPSuI8X82x/F6BERZwP4CiYMLc9q0cr8agVnbaZuGXk/9/Aw4iReyfaqFYiUR2KK/AHko7rLHwXXZYH2b6jxqGWAN+Q1Kh+bYmQOZ64IYoQX9urRpbrX0oCVWdgsQ0RRjqjaKLMYF9SWya5v+v5XT2vrTBhUbY/VMSj7iD87v9ZRzxqRaeIfx1BuFU64lcH1VgU/wDwYttXz1AXp+P9kvYnkn8uAtaR9BHbVeP01yXWiLprrprqBTc+TKii/gxA0mOIWeuTK7Z/ExFhs5mk84havpVmHi3plBk8oPzthKvuToQy1yZDIceIMn3sxIWvwcRFIUL6dIXIcpT0RuDLK1KEzzCRdAbwRSZ+4HsAu9veoWL782zPyeKzpEtsP0HS7oRBfRtw0WzlKKhPYY9++wYcYx4xqBDh1pnpCKPucy/3v2v6/8yR+xhhu9LC1QrAfOB0SbcBJwJf6QntG3cW2O6OFz9O0sE12i+W9CWi1F13HdA65eaasoqiCtTOwCds39NZO6nCEGYtF0k6mskj34sqnHcqBc3HKArFzMZ3B7CWpGfaPrf0a1smymfWIo17MnLYPgw4TNLjiVT8H0i60fb2c9y12eL3CqnfjuzsbtQLZ51PzNqe17WvjmujDZ8h/N2XEuGXjyTca1U5lpi1dCR69yj7Ks1aiEiZA4ADKaqOwCcrtJuuVsBsfXcQ2cXHFMkQiNDVfZocKN0yycgi6eHEj3xXYO0HivxA0ZL5BCEhYOBHxOh1hczQlTTPdqUU+o5bZ9C+KdpOKvO3IqOQP5brVZGaRI7ck5FD0uuIEfsCIpzvtbavmttezR5FS2baykX9kPRW2x+QdAR9FtBtHziM/g3oQ98kIKrHiTeetXgIZf7mOompjNgPBZ5Vtn8AvLuJkU/jnowijyQKel8y1x2ZTaYyyh0qGOdOdMzioXWqPsfRLgloH2LW8j9MzFrqhIZuAFwpqVaZvy6OY26TmI4BrgBeVbb3LP2pXVUrjXsyctg+RNIzJe3drS3jWagBOsd0G+XDiBFcZWyfWrI8t2qZ5dmGtklAG/ca4qJNU3Uk3qjMX5fraK6TmDaz/fKu7cOKGFpt0rgnI8cDVVvG9jKhKEkHd2/XOMZ9kqrGdM8EbZOAWmnT2P5BWcTd3Pb3FCUmq0SRXVjOMSdJTF3c1RMt8wyWz1mpRBr3ZBR5QGvLFNpEOiyRdAohHFY7y7MljZKAhqFNU47zWmA/IhlqM0K699NENbJpm7bp/xB5HXB88b2L0Inaq8mB0rgno8gDXVumLW2zPBtj+2JJz6YrCYhqcsWttWkKB5TzXVD68wtFselBdN9UvgZ8m+j/34DtgVmp4VvWmbYu0TLUlG6YRBr3ZBR5QGrLaHKRjjUldX7YtbRh2mrTNKH4+l9FjJS/Y/tKSTsCRxLZ0k+crn2vNk2Zqdn2n2t25W+O0nidfs2j2ixoZeLm0ivCtGbN87dimNEyGeeejCRFW+Z5xI/t9AeStkxbip7Kp4D1bW9VksF2sv1fM3jO44CNCd/104BfE4We32776zWOsxWRXbpu2fV7YC/bV1Rs/wEi8efVwBuA1wNX2X7ngHYX254tzfnp+nEyES3TWW/ZE9jadu1omTTuyUijUmykqQTsA5Ey2nsL8BnbTyz7rpjJ5B5JVwCPL7HmqxNG+dGOerB1jvMj4J22zyrbzwHeZ3vbiu1XIrI8uwcGA2d9kpZ0vqu5pE0SVy8rDatTSdIWSdtIOlvSVyU9sRiMK4DfSWpb1f6BxJq2L+zZ16jIcg3utn0/gO2/Aj+va9gLa3UMeznW2dTQVrF9v+2jbL/S9iuAqyX9b4WmgxZcZ4u7FCUmgYyWScaHcSk2Mtf8XlHoubMg/Qrg5hk+5xaSOouOIqJNLmNivaCqdMQ1kv6DyYqYtfIbJD2ByGzdpbQduJBs+7Y655hB9gc+16Ut80caRsukWyYZGbqnn5Kutv13Xa+NxLR5RUDSo4iFzG0J43AtsIft62bwnI+c7vWqujiSHkIkIj2TCeGvd9n+44B2jyE0iDpyBV8C3mx72n6NCr2SCcOIlknjnowM3YtavQtco7LgtSJRQkhXsr10rvsy00i6H/ghsK/tX5Z919h+1Nz2rBo91/7JPVmqjUi3TDJKbF3C/wSs0RMKuPrcdWvFYq7Fr5pQkq6mpII2zMuJkftZkk4j6gCsSLUlu/s6lBtSjtyTZMyQ9B2K+JXtrUus9xLbfz/HXZsSSbcCNxBrKxfQY5hLHHyV46xFFArZjUjiOh74mktt4VFlullr42OmcU+S8ULST2w/pXudomk43WxRkqB2IIzy44FvASfYvrLFMdcl6gHsYvsfB71/LtH0JTIrJ7B1k6GQSTJ+zLX41TIkHS/pUyU5aUps32f7NNt7EclPvwTOlvSGpue2fZvtz4y6YYcokWl7vu21bc8rzzvbtQ075Mg9ScYOSU8ilBS3IvIEFgCvsD0r+ig9fXkKsAnwVNtvG/De1YAXEaP3hYSA1zG2fzPT/RxH0rgnyRhS/OzLxLts3zMHfViJ0OEfGM4n6XjiZvQd4MSqcgPJ1KRxT0YeSd8D7gH+1/Y357o/KwKStiVGv8si4mx/bhbO+0UiEec+4CIiIe0jtj84oN39TMgTdxulxj7nBzoZCpmsCLyaKJ+2zVx3ZEVA0ucJLfNLCCMLYTBn3LgDW9q+Q9LuhGzu2wgjP61xt53rf0MmjXsy8ti+CbiJMBLJYBYRRnYupuWrSFqFCEf8hO17Orr8yeySxj0ZGSRdzvQFoqvqkzzQuQJ4ODOvJ9OPzwDXAZcC5xRZgsYp9Elz0ueejAxd+iQHlL8d8ajdgTttv3v2e7XiIeks4AmEtvrfOvsrZHnOVH86xaeTWSSNezJySDrP9jMG7Uv6U8rcLUfVLM+G53zTdK/b/shMnTvpT7plklFkLU2uAL8tNTS9H+jMpBGfhgdaAfORJ0fuycgh6cnAMUQYHUTZtH1sXzxnnVoBkHSu7Wf21GKFDCd8QJLGPRlZiqa13KA4cDI3zEX91qQ/GVuajByS1pH0EaIa05mSPtxVmSYZgKR1+zxWmaXTHwW8nUg6o0ge7DpL5066SOOejCLHAEuBV5XHHYSEbVKNi4FbgZ8DvyjPr5V0cXF5zSRzUb816UMuqCajyGY9lWgOk3TJXHVmBeQ0QsP8dABJzwOeD5wEfBJ42gyeey7qtyZ9yJF7MooMrQL8A5RFHcMOUApVPMv2+cBqM3zuA4hEpi0k/QY4mNCaSWaZHLkno8jrgOOLn13AbTSsAP8A5TZJbyNKzQHsAvyxFMS4f4bPbdvbd9dvlbTpDJ8z6UNGyyQjyzAqwD8QkbQecCjwTOLmeC5wGFGwY5NOAekZOvdyJeIkXWR7pn39SQ85ck9GjjJiPxR4Vtn+AfDuDImshu3fA1NVMJoRwy5pC+BxwDqSXtb10nyyuPmckMY9GUWOIcSvXlW29ySiZV42ZYtkGSXW/M0sr+c+k+XmHgvsCDwYeHHX/qXAa2fwvMkUpFsmGTn6FXMe9QLPo4SkS4FPExLJHT13bM+4ZLKkp9v+8UyfJxlMjtyTUeSuHm2ZjJapx722PzVH575B0teAZxDhkOcCB9m+cY7684AlR+7JyCFpa6JqUCcr9Y/AXnNR4HlFRNK7gFuArzFZ8ve2WTj3GcAXmZBr3gPY3fYOM33uZDJp3JORQdImtq/v2s5omQZIurbPbtt+1Cyc+1LbW/fsS5faHJBumWSU+DrwJABJJ/dkqSYVsT2XceW3StoDOKFs7wb8YQ7784AlM1STUUJdz2d8lDluSHpr1/NX9rz2vlnqxj5ElNNvCdmBV5R9ySyTbplkZOhOgOmXDJNMz3TfX36fDzzSLZOMEltLuoMYwa9RnkMWm6iKpnjeb3u4J5aOYPri5gfO5PmT5UnjnowMtlee6z6s4HiK5/22h83irueHERnGyRySbpkkGRMk3Qf8hTLzAe7svASsbntWCnZIWmL7ibNxrmRqcuSeJGPCCM18csQ4AmS0TJIkyRiSbpkkSVojaSkTI/Y1mewSysXwOSCNe5IkyRiSbpkkSZIxJI17kiTJGJLGPUmSZAxJ454kSTKGpHFPkiQZQ9K4J0mSjCH/Hzj5DDS75Zq+AAAAAElFTkSuQmCC",
          "text/plain": [
           "<Figure size 432x288 with 1 Axes>"
          ]
         },
         "metadata": {
          "needs_background": "light"
         },
         "output_type": "display_data"
        }
       ],
       "source": [
        "df[\"Sector\"].value_counts().plot(kind = 'bar')"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Grouping dataset by Sector"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 35,
       "metadata": {},
       "outputs": [
        {
         "data": {
          "text/plain": [
           "<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9d7e6a8a50>"
          ]
         },
         "execution_count": 35,
         "metadata": {},
         "output_type": "execute_result"
        }
       ],
       "source": [
        "sectors=df.groupby(\"Sector\")\n",
        "sectors"
       ]
      },
      {
       "cell_type": "markdown",
       "metadata": {},
       "source": [
        "## Listing Profits and Employees in each sector"
       ]
      },
      {
       "cell_type": "code",
       "execution_count": 36,
       "metadata": {},
       "outputs": [
        {
         "data": {
          "text/html": [
           "<div>\n",
           "<style scoped>\n",
           "    .dataframe tbody tr th:only-of-type {\n",
           "        vertical-align: middle;\n",
           "    }\n",
           "\n",
           "    .dataframe tbody tr th {\n",
           "        vertical-align: top;\n",
           "    }\n",
           "\n",
           "    .dataframe thead th {\n",
           "        text-align: right;\n",
           "    }\n",
           "</style>\n",
           "<table border=\"1\" class=\"dataframe\">\n",
           "  <thead>\n",
           "    <tr style=\"text-align: right;\">\n",
           "      <th></th>\n",
           "      <th>Profits</th>\n",
           "      <th>Employees</th>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Sector</th>\n",
           "      <th></th>\n",
           "      <th></th>\n",
           "    </tr>\n",
           "  </thead>\n",
           "  <tbody>\n",
           "    <tr>\n",
           "      <th>Aerospace &amp; Defense</th>\n",
           "      <td>28742</td>\n",
           "      <td>968057</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Apparel</th>\n",
           "      <td>8236</td>\n",
           "      <td>346397</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Business Services</th>\n",
           "      <td>28227</td>\n",
           "      <td>1361050</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Chemicals</th>\n",
           "      <td>22628</td>\n",
           "      <td>463651</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Energy</th>\n",
           "      <td>-73447</td>\n",
           "      <td>1188927</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Engineering &amp; Construction</th>\n",
           "      <td>5304</td>\n",
           "      <td>406708</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Financials</th>\n",
           "      <td>260209</td>\n",
           "      <td>3359948</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Food and Drug Stores</th>\n",
           "      <td>16759</td>\n",
           "      <td>1395398</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Food, Beverages &amp; Tobacco</th>\n",
           "      <td>51417</td>\n",
           "      <td>1211632</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Health Care</th>\n",
           "      <td>106114</td>\n",
           "      <td>2678289</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Hotels, Resturants &amp; Leisure</th>\n",
           "      <td>20697</td>\n",
           "      <td>2484245</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Household Products</th>\n",
           "      <td>14428</td>\n",
           "      <td>646038</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Industrials</th>\n",
           "      <td>20764</td>\n",
           "      <td>1545229</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Materials</th>\n",
           "      <td>4428</td>\n",
           "      <td>638123</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Media</th>\n",
           "      <td>24347</td>\n",
           "      <td>550314</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Motor Vehicles &amp; Parts</th>\n",
           "      <td>25898</td>\n",
           "      <td>1082560</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Retailing</th>\n",
           "      <td>47830</td>\n",
           "      <td>6227629</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Technology</th>\n",
           "      <td>180473</td>\n",
           "      <td>3578949</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Telecommunications</th>\n",
           "      <td>48637</td>\n",
           "      <td>832468</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Transportation</th>\n",
           "      <td>44169</td>\n",
           "      <td>1536793</td>\n",
           "    </tr>\n",
           "    <tr>\n",
           "      <th>Wholesalers</th>\n",
           "      <td>8233</td>\n",
           "      <td>525597</td>\n",
           "    </tr>\n",
           "  </tbody>\n",
           "</table>\n",
           "</div>"
          ],
          "text/plain": [
           "                              Profits  Employees\n",
           "Sector                                          \n",
           "Aerospace & Defense             28742     968057\n",
           "Apparel                          8236     346397\n",
           "Business Services               28227    1361050\n",
           "Chemicals                       22628     463651\n",
           "Energy                         -73447    1188927\n",
           "Engineering & Construction       5304     406708\n",
           "Financials                     260209    3359948\n",
           "Food and Drug Stores            16759    1395398\n",
           "Food, Beverages & Tobacco       51417    1211632\n",
           "Health Care                    106114    2678289\n",
           "Hotels, Resturants & Leisure    20697    2484245\n",
           "Household Products              14428     646038\n",
           "Industrials                     20764    1545229\n",
           "Materials                        4428     638123\n",
           "Media                           24347     550314\n",
           "Motor Vehicles & Parts          25898    1082560\n",
           "Retailing                       47830    6227629\n",
           "Technology                     180473    3578949\n",
           "Telecommunications              48637     832468\n",
           "Transportation                  44169    1536793\n",
           "Wholesalers                      8233     525597"
          ]
         },
         "execution_count": 36,
         "metadata": {},
         "output_type": "execute_result"
        }
       ],
       "source": [
        "sectors[['Profits','Employees']].sum()"
       ]
      }
     ],
     "metadata": {
      "interpreter": {
       "hash": "f293f16398db128e85df277de8eb5f9ab0a1b28857fa0f1c8543245825f1b931"
      },
      "kernelspec": {
       "display_name": "Python 3.7.7 ('pythonProject')",
       "language": "python",
       "name": "python3"
      },
      "language_info": {
       "codemirror_mode": {
        "name": "ipython",
        "version": 3
       },
       "file_extension": ".py",
       "mimetype": "text/x-python",
       "name": "python",
       "nbconvert_exporter": "python",
       "pygments_lexer": "ipython3",
       "version": "3.7.7"
      },
      "orig_nbformat": 4
     },
     "nbformat": 4,
     "nbformat_minor": 2
    }