# Data Wrangling and Cleaning

In [1]:
# Data Wrangling and Cleaning
# Importing libraries
import sqlite3
import pandas as pd
import numpy as np
# Creating sqlite connection.
cnx = sqlite3.connect('Cars_latest.db')
# Reading data in to dataframe
df = pd.read_sql_query("SELECT * FROM cars", cnx)

In [2]:
#Checking Null values
df.head()
df.website.unique()

array(['MotoristSG', 'Carro'], dtype=object)

In [3]:
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,None,"$12,248/yr",09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,-,None,"$11,069/yr",21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,None,"$13,727/yr",04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,None,"$11,810/yr",28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,None,"$10,824/yr",12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...

In [4]:
df.mileage.unique()

array([270000, '-', 61441, 55800, 158800, 37000, 158000, 45000, 32000,
       65137, 84000, 141000, 102000, 114000, 68000, 53665, 195833, 23000,
       30000, 35000, 26330, 61750, 64000, 53360, 16800, 40428, 168942,
       33048, 153118, 63000, 7000, 4000, 51000, 98000, 21000, 87000,
       122000, 53000, 77000, 156000, 131240, 70731, 152430, 31000, 55000,
       118480, 41610, 163562, 41962, 19431, 89481, 81000, 167350, 8575,
       13796, 153902, 115965, 138971, 18049, 22024, 179265, 41096, 174318,
       74258, 34498, 41536, 105733, 16210, 29082, 212524, 98528, 188274,
       93620, 224879, 59532, 61926, 18249, 50975, 89101, 115548, 34757,
       6644, 17939, 98062, 60931, 165559, 84432, 191026, 324851, 22019,
       134574, 128652, 139394, 95405, 129098, 47223, 83741, 114887, 50289,
       137160, 66164, 75864, 52612, 45340, 50395, 72734, 13567, 36650,
       131176, 127056, 124177, 31974, 16431, 78757, 102370, 7627, 140879,
       20067, 97551, 107343, 19718, 22973, 160462, 119513, 160302, 124593,
       10999, 97886, 96380, 186830, 85137, 8677, 75744, 205545, 92258,
       92992, 63280, 54479, 115849, 117342, 46867, 6035, 45604, 14000,
       64882, 18769, 11243, 46144, 162680, 65028, 130120, 105805, 20900,
       56630, 31512, 70681, 126672, 101173, 79002, 28421, 101267, 36986,
       62367, 8988, 23406, 224815, 18050, 108171, 26791, 109211, 49529,
       55692, 8042, 69019, 101401, 92647, 162021, 161846, 164323, 86801,
       92434, 42975, 35337, 46751, 21660, 17332, 69140, 54277, 66893,
       65865, 107792, 11006, 131169, 99756, 134234, 13902, 387439, 36145,
       64401, 132674, 52145, 112345, 92946, 168274, 69486, 126233, 9666,
       121085, 259482, 207962, 96153, 78024, 110945, 110765, 33272,
       120127, 64790, 43141, 137831, 81363, 40841, 18585, 16626, 37589,
       111305, 209699, 57515, 127594, 11622, 14413, 217208, 137487, 55253,
       76731, 48387, 179309, 48510, 222375, 31358, 18000, 20584, 43884,
       19555, 60629, 13520, 29801, 18172, 13000, 90000, 140000, 12592,
       57453, 62911, 42000, 13759, 5100, 43000, 42413, 72595, 107835,
       149764, 25057, 60603, 80000, 91669, 109322, 32888, 95796, 16688,
       52422, 12881, 69657, 107521, 8760, 24000, 80643, 114390, 43584,
       61000, 41258, 60147, 43316, 26872, 9227, 171000, 34844, 81677,
       15465, 205185, 59948, 156650, 80125, 1701, 30625, 53998, 15610,
       162606, 5743, 3753, 11621, 11102, 10350, 7940, 17987, 107845],
      dtype=object)

In [5]:
df.owners.fillna(value=np.nan, inplace=True)
df.owners = df.owners.replace(np.nan, '0 Owners')

In [6]:
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0 Owners,"$12,248/yr",09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,-,0 Owners,"$11,069/yr",21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0 Owners,"$13,727/yr",04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0 Owners,"$11,810/yr",28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0 Owners,"$10,824/yr",12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...

In [7]:

# Removing string part from Owners and Depreciation 
df['owners'] = df['owners'].map(lambda x: x.lstrip('').rstrip('Owners'))
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('$').rstrip('/yr'))
df['depreciation'] = df['depreciation'].str.replace(',','')
df.mileage =pd.to_numeric(df.mileage, errors='coerce').fillna(0).astype(int)
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('Paper Value : $').rstrip(''))
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...

In [8]:

df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...

In [9]:
# Converting Strings to integer columns (price	mileage	owners	depreciation)

df["price"] = pd.to_numeric(df["price"])
df["mileage"] = pd.to_numeric(df["mileage"])
df["owners"] = pd.to_numeric(df["owners"])
df["depreciation"] = pd.to_numeric(df["depreciation"])
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...

In [10]:
# Splitting coe_left in to individual Registration and coe_left columns
df[['reg_date','years_left']] = df.coe_left.str.split("(",expand=True)

In [11]:
# Changing coe_left from string object to Date 
df['years_left'] = df['years_left'].map(lambda x: x.lstrip('').rstrip('mths left)'))
df['years_left'] = df['years_left'].map(lambda x: x.lstrip('').rstrip(' mths COE)'))
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link,reg_date,years_left
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...,09/02/2010,6 yrs 6
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...,21/05/2019,6 yrs 7
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...,04/05/2018,5 yrs 6
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...,28/05/2018,5 yrs 7
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...,12/11/2007,5 yr

In [12]:
df.years_left.unique()

array(['6 yrs 6', '6 yrs 7', '5 yrs 6', '5 yrs 7', '5 yr', '6 yrs 11',
       '2 yrs 3', '3 yrs 7', '5 yrs 5', '4 yrs 9', '6 yrs 3', '6 yr',
       '7 yrs 10', '6 yrs 1', '4 yrs 4', '4 yrs 3', '6 yrs 8', '5 yrs 2',
       '8 yrs 1', '2 yrs 6', '5 yrs 10', '3 yrs 3', '5 yrs 9', '9 yrs 6',
       '9 yrs 2', '4 yrs 11', '1 yr', '9 yr', '5 yrs 11', '2 yrs 4',
       '3 yrs 10', '3 yrs 2', '2 yr', '7 yrs 11', '5 yrs 1', '2 yrs 10',
       '9yrs 5', '3yrs 10', '5yrs 1', '7yrs 4', '7yrs 11', '5yrs 11',
       '8yrs 11', '4yrs 3', '5yrs 10', '9yr', '9yrs 2', '4yrs 2',
       '3yrs 3', '2yrs 7', '9yrs 3', '8yrs 4', '7yrs 9', '7yrs 3',
       '2yrs 10', '3yr', '6yrs 10', '8yrs 2', '7yr', '7yrs 10', '4yr',
       '2yr', '5yrs 6', '4yrs 9', '6yr', '8yrs 1', '3yrs 9', '6yrs 7',
       '9yrs 4', '8yrs 7', '5yrs 8', '6yrs 8', '2yrs 8', '7yrs 8',
       '6yrs 2', '8yrs 8', '4yrs 6', '6yrs 11', '4yrs 11', '2yrs 4',
       '7yrs 1', '3yrs 7', '9yrs 1', '2yrs 6', '4yrs 1', '8yrs 10',
       '6yrs 4', '3yrs 4', '5yrs 7', '3yrs 5', '8yr', '5yr', '1yrs 8',
       '6yrs 6', '8yrs 9', '4yrs 8', '3yrs 1', '4yrs 10', '2yrs 9',
       '8yrs 3', '3yrs 11', '2yrs 5', '5yrs 2', '4yrs 7', '1yrs 4',
       '7yrs 7', '8yrs 5', '6yrs 5', '4', '3yrs 2', '5yrs 5', '1yrs 2',
       '5yrs 4', '3yrs 6', '2yrs 11', '8yrs 6', '6yrs 1', '5', '6yrs 9',
       '7yrs 2', '5yrs 3', '2yrs 2', '2yrs 3'], dtype=object)

In [13]:
df[['coe_year','coe_months']] = df.years_left.str.split("yrs ",expand=True)
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link,reg_date,years_left,coe_year,coe_months
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...,09/02/2010,6 yrs 6,6,6
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...,21/05/2019,6 yrs 7,6,7
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...,04/05/2018,5 yrs 6,5,6
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...,28/05/2018,5 yrs 7,5,7
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...,12/11/2007,5 yr,5 yr,None

In [14]:
df["coe_year"] = df['coe_year'].str.replace('yr','')

In [15]:
#Replacing nan  values
df = df.fillna(0)

In [16]:
df["coe_year"] = pd.to_numeric(df["coe_year"])
df["coe_months"] = pd.to_numeric(df["coe_months"])
df['coe_months'] = df['coe_months'].div(12)
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,image_link,reg_date,years_left,coe_year,coe_months
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),https://www.motorist.sg/used-car/4722/mercedes...,https://motoristprod.s3.ap-southeast-1.amazona...,09/02/2010,6 yrs 6,6,0.500000
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),https://www.motorist.sg/used-car/4721/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...,21/05/2019,6 yrs 7,6,0.583333
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),https://www.motorist.sg/used-car/4720/honda-sh...,https://motoristprod.s3.ap-southeast-1.amazona...,04/05/2018,5 yrs 6,5,0.500000
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),https://www.motorist.sg/used-car/4719/toyota-v...,https://motoristprod.s3.ap-southeast-1.amazona...,28/05/2018,5 yrs 7,5,0.583333
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),https://www.motorist.sg/used-car/4718/honda-st...,https://motoristprod.s3.ap-southeast-1.amazona...,12/11/2007,5 yr,5,0.000000

In [17]:
df.reg_date.unique()

array(['09/02/2010 ', '21/05/2019 ', '04/05/2018 ', '28/05/2018 ',
       '12/11/2007 ', '18/10/2019 ', '21/01/2010 ', '27/05/2016 ',
       '29/03/2018 ', '18/05/2009 ', '31/07/2017 ', '09/03/2009 ',
       '31/10/2008 ', '14/02/2012 ', '11/10/2019 ', '12/12/2018 ',
       '08/03/2017 ', '01/03/2012 ', '21/08/2020 ', '01/08/2017 ',
       '25/06/2019 ', '05/11/2018 ', '19/01/2018 ', '26/01/2017 ',
       '28/12/2017 ', '25/11/2020 ', '16/11/2018 ', '04/05/2010 ',
       '07/10/2019 ', '24/08/2018 ', '29/01/2016 ', '06/08/2018 ',
       '19/05/2022 ', '05/01/2022 ', '02/10/2017 ', '24/04/2019 ',
       '17/10/2017 ', '30/10/2013 ', '08/11/2021 ', '25/09/2018 ',
       '27/02/2015 ', '30/08/2016 ', '27/12/2017 ', '05/01/2016 ',
       '23/10/2014 ', '12/10/2010 ', '14/12/2017 ', '27/08/2015 ',
       '24/01/2011 ', '28/01/2019 ', '10 Oct 12 ', '24 Aug 16 ',
       '23 Nov 17 ', '22 Sep 10 ', '15 Oct 20 ', '25 Sep 18 ',
       '10 Oct 11 ', '25 Jan 17 ', '28 Aug 18 ', '29 Oct 21 ',
       '14 Jan 22 ', '27 Dec 16 ', '12 Feb 16 ', '19 Jun 15 ',
       '24 Jan 22 ', '16 Mar 21 ', '28 Jul 10 ', '19 Feb 20 ',
       '09 Sep 15 ', '27 Oct 15 ', '07 Dec 17 ', '18 Sep 19 ',
       '16 Feb 17 ', '30 Dec 20 ', '31 Oct 19 ', '29 Sep 10 ',
       '26 Oct 16 ', '23 Oct 14 ', '08 May 18 ', '17 Aug 07 ',
       '19 Nov 18 ', '16 Dec 20 ', '28 Feb 20 ', '18 Aug 16 ',
       '05 Nov 18 ', '15 Jun 09 ', '03 Sep 19 ', '25 Feb 22 ',
       '15 Jun 21 ', '28 Jun 18 ', '17 Jul 19 ', '23 Jun 15 ',
       '12 Jul 10 ', '16 Jan 19 ', '30 Jun 21 ', '03 May 17 ',
       '29 Jan 16 ', '04 Nov 15 ', '21 Sep 16 ', '29 Jun 15 ',
       '30 Sep 19 ', '27 Sep 17 ', '13 Mar 15 ', '27 Apr 18 ',
       '23 Aug 16 ', '05 Oct 17 ', '30 Jun 18 ', '02 Dec 19 ',
       '29 Nov 17 ', '21 Nov 18 ', '31 May 16 ', '30 Sep 21 ',
       '19 Aug 20 ', '15 Feb 11 ', '17 Sep 15 ', '25 Aug 15 ',
       '24 Nov 20 ', '17 Dec 21 ', '28 Apr 15 ', '22 Nov 16 ',
       '27 Aug 21 ', '08 Nov 14 ', '07 Aug 20 ', '09 Mar 09 ',
       '16 Mar 16 ', '30 May 18 ', '29 Nov 19 ', '26 Feb 16 ',
       '16 Jun 16 ', '31 Mar 16 ', '10 Dec 10 ', '18 Mar 22 ',
       '25 Apr 17 ', '20 Nov 17 ', '19 Feb 16 ', '14 Jul 14 ',
       '07 Oct 21 ', '29 Sep 17 ', '31 Jul 09 ', '20 Oct 11 ',
       '24 Oct 19 ', '03 Jun 19 ', '04 Jul 17 ', '15 Dec 15 ',
       '14 Sep 17 ', '02 Jan 21 ', '30 Jul 21 ', '20 Sep 21 ',
       '31 Jul 15 ', '19 Feb 21 ', '18 Feb 21 ', '30 Sep 20 ',
       '28 Mar 16 ', '14 Feb 17 ', '19 Oct 16 ', '26 Mar 15 ',
       '11 Jun 21 ', '02 Jan 18 ', '26 May 17 ', '01 Jul 11 ',
       '28 Feb 14 ', '16 Nov 16 ', '04 Jan 21 ', '15 Aug 16 ',
       '26 Aug 20 ', '09 Feb 17 ', '10 Aug 21 ', '09 Sep 21 ',
       '27 May 10 ', '31 Mar 21 ', '19 Jun 18 ', '19 Nov 19 ',
       '07 Nov 09 ', '25 Mar 19 ', '13 Dec 21 ', '12 Jan 18 ',
       '22 Jul 16 ', '25 Jul 16 ', '01 Mar 08 ', '12 Jan 16 ',
       '29 Feb 20 ', '17 May 18 ', '02 Apr 18 ', '14 Jun 19 ',
       '19 Jul 19 ', '12 Jan 21 ', '28 Oct 20 ', '15 Jan 14 ',
       '28 Jun 19 ', '16 Mar 18 ', '29 Apr 16 ', '02 Mar 18 ',
       '08 Oct 21 ', '13 Sep 11 ', '29 May 17 ', '30 Apr 18 ',
       '25 Aug 21 ', '15 Sep 16 ', '08 Jul 19 ', '16 Sep 16 ',
       '23 Sep 15 ', '29 Nov 16 ', '01 Mar 16 ', '30 Nov 16 ',
       '24 Jul 12 ', '28 Apr 17 ', '14 Mar 16 ', '31 Dec 21 ',
       '30 Sep 15 ', '18 Dec 08 ', '05 Jul 17 ', '15 Jun 17 ',
       '30 Apr 15 ', '21 Jun 16 ', '13 Nov 19 ', '18 May 15 ',
       '12 May 17 ', '22 Jul 20 ', '30 Jun 17 ', '23 Sep 16 ',
       '03 Jan 19 ', '03 Feb 20 ', '24 Jun 21 ', '15 Jan 21 ',
       '08 Feb 12 ', '29 Mar 13 ', '19 Sep 18 ', '13 Aug 10 ',
       '17 Jun 21 ', '24 Sep 21 ', '02 Nov 15 ', '09 Dec 15 ',
       '08 Apr 16 ', '25 Aug 16 ', '18 Jul 19 ', '09 Feb 09 ',
       '06 Mar 19 ', '10 Aug 17 ', '24 Feb 20 ', '12 Oct 21 ',
       '22 Oct 20 ', '10 Oct 18 ', '17 Oct 17 ', '16 Dec 21 ',
       '18 Dec 20 ', '16 Sep 21 ', '31 Aug 21 ', '27 Jan 17 ',
       '25 Oct 10 ', '16 Aug 21 ', '27 Dec 18 ', '30 Oct 15 ',
       '11 Jul 18 ', '26 Dec 19 ', '17 Aug 10 ', '31 Oct 17 ',
       '29 Oct 15 ', '29 Jul 20 ', '28 Jun 17 ', '14 Jan 20 ',
       '03 Jul 17 ', '06 Feb 18 ', '24 Oct 20 ', '13 Sep 18 ',
       '28 Oct 21 ', '15 Apr 16 ', '26 Jan 22 ', '29 Dec 20 ',
       '26 Jun 18 ', '28 Sep 16 ', '24 Dec 21 ', '12 May 21 ',
       '29 Aug 19 ', '02 Jan 15 ', '08 Oct 18 ', '12 Nov 18 ',
       '27 Nov 19 ', '21 Jan 20 ', '27 Jul 17 ', '13 Nov 21 ',
       '26 Mar 21 ', '14 Dec 21 ', '07 Jan 15 ', '09 Oct 20 ',
       '15 Dec 10 ', '14 Jan 21 ', '20 Nov 19 ', '11 Apr 19 ',
       '20 May 16 ', '27 Dec 21 ', '28 Feb 19 ', '13 Jul 21 ',
       '17 Aug 20 ', '28 Jan 15 ', '04 Jan 22 ', '19 Jul 21 ',
       '17 Sep 21 ', '06 May 21 ', '08 Jul 21 ', '28 Jan 21 ',
       '29 Aug 17 '], dtype=object)

In [18]:
df['years_left']= df[['coe_year','coe_months']].sum(axis=1)

In [19]:
df["reg_date"] = df['reg_date'].str.replace(' ','')

In [20]:
df['reg_date'] = pd.to_datetime(df['reg_date'])

In [21]:
df['reg_date'] = pd.to_datetime(df['reg_date']).dt.normalize()

In [22]:
df_cleaned = df[['id', 'brand', 'model', 'website', 'price', 'mileage', 'owners',
       'depreciation', 'coe_left','reg_date','years_left', 'link']]

In [23]:
df_cleaned.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,reg_date,years_left,link
0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),2010-09-02,6.500000,https://www.motorist.sg/used-car/4722/mercedes...
1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),2019-05-21,6.583333,https://www.motorist.sg/used-car/4721/toyota-v...
2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),2018-04-05,5.500000,https://www.motorist.sg/used-car/4720/honda-sh...
3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),2018-05-28,5.583333,https://www.motorist.sg/used-car/4719/toyota-v...
4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),2007-12-11,5.000000,https://www.motorist.sg/used-car/4718/honda-st...

In [24]:
#Creating a cursor object using the cursor() method
cursor = cnx.cursor()

#Doping EMPLOYEE table if already exists
cursor.execute("DROP TABLE cars")
print("Table dropped... ")

Table dropped...

In [25]:
df_cleaned.to_sql(name='cars', con=cnx)

In [26]:
df = pd.read_sql_query("SELECT * FROM cars", cnx)
df.head()

,index,id,brand,model,website,price,mileage,owners,depreciation,coe_left,reg_date,years_left,link
0,0,1,Mercedes,Benz E 250Cgi,MotoristSG,80000,270000,0,12248,09/02/2010 (6 yrs 6 mths COE left),2010-09-02 00:00:00,6.500000,https://www.motorist.sg/used-car/4722/mercedes...
1,1,2,Toyota,Vios 1.5 E (Auto),MotoristSG,79800,0,0,11069,21/05/2019 (6 yrs 7 mths COE left),2019-05-21 00:00:00,6.583333,https://www.motorist.sg/used-car/4721/toyota-v...
2,2,3,Honda,Shuttle Hybrid 1.5G Auto,MotoristSG,83800,61441,0,13727,04/05/2018 (5 yrs 6 mths COE left),2018-04-05 00:00:00,5.500000,https://www.motorist.sg/used-car/4720/honda-sh...
3,3,4,Toyota,Vios G (Auto),MotoristSG,73800,55800,0,11810,28/05/2018 (5 yrs 7 mths COE left),2018-05-28 00:00:00,5.583333,https://www.motorist.sg/used-car/4719/toyota-v...
4,4,5,Honda,Stream 1.8 Rsz A,MotoristSG,54800,158800,0,10824,12/11/2007 (5 yrs COE left),2007-12-11 00:00:00,5.000000,https://www.motorist.sg/used-car/4718/honda-st...

In [ ]:
# Data Wrangling and Cleaning
# Data Wrangling and Cleaning
# Importing libraries
import sqlite3
import pandas as pd
import numpy as np
# Creating sqlite connection.
cnx = sqlite3.connect('Cars_latest.db')
# Reading data in to dataframe
df = pd.read_sql_query("SELECT * FROM cars", cnx)

#Checking Null values

df.website.unique()
df.mileage.unique()
df.owners.fillna(value=np.nan, inplace=True)
df.owners = df.owners.replace(np.nan, '0 Owners')
# Removing string part from Owners and Depreciation 
df['owners'] = df['owners'].map(lambda x: x.lstrip('').rstrip('Owners'))
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('$').rstrip('/yr'))
df['depreciation'] = df['depreciation'].str.replace(',','')
df.mileage =pd.to_numeric(df.mileage, errors='coerce').fillna(0).astype(int)
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('Paper Value : $').rstrip(''))

# Converting Strings to integer columns (price	mileage	owners	depreciation)

df["price"] = pd.to_numeric(df["price"])
df["mileage"] = pd.to_numeric(df["mileage"])
df["owners"] = pd.to_numeric(df["owners"])
df["depreciation"] = pd.to_numeric(df["depreciation"])
df.head()
# Splitting coe_left in to individual Registration and coe_left columns
df[['reg_date','years_left']] = df.coe_left.str.split("(",expand=True)
# Changing coe_left from string object to Date 
df['years_left'] = df['years_left'].map(lambda x: x.lstrip('').rstrip('mths left)'))
df['years_left'] = df['years_left'].map(lambda x: x.lstrip('').rstrip(' mths COE)'))
df.head()
df.years_left.unique()
df[['coe_year','coe_months']] = df.years_left.str.split("yrs ",expand=True)
df.head()
df["coe_year"] = df['coe_year'].str.replace('yr','')
#Replacing nan  values
df = df.fillna(0)
df["coe_year"] = pd.to_numeric(df["coe_year"])
df["coe_months"] = pd.to_numeric(df["coe_months"])
df['coe_months'] = df['coe_months'].div(12)
df.head()
df.reg_date.unique()
df['years_left']= df[['coe_year','coe_months']].sum(axis=1)
df["reg_date"] = df['reg_date'].str.replace(' ','')
df['reg_date'] = pd.to_datetime(df['reg_date'])
df['reg_date'] = pd.to_datetime(df['reg_date']).dt.normalize()
df_cleaned = df[['id', 'brand', 'model', 'website', 'price', 'mileage', 'owners',
       'depreciation', 'coe_left','reg_date','years_left', 'link']]
df_cleaned.head()
#Creating a cursor object using the cursor() method
cursor = cnx.cursor()
cursor.execute("DROP TABLE cars")
print("Table dropped... ")
df_cleaned.to_sql(name='cars', con=cnx)
df = pd.read_sql_query("SELECT * FROM cars", cnx)
df.head()